<div class="em-gf-card-form-main">
	<div class="em-gf-card-form-inn">
		<hr/>
		<div class="em-gf-card-form-row">
			<label>Sender name(optional)</label>
          <input name="properties[Sender Name]" type="text" />
		</div>
		<div class="em-gf-card-form-row">
			<label>Recipient name</label>
			<input name="properties[Recipient Name]" type="text" />
		</div>
		<div class="em-gf-card-form-row">
			<label>Recipient email address</label>
			<input name="properties[Recipient email address]" type="email" />
		</div>
		<div class="em-gf-card-form-row">
			<label>Custom message</label>
			<textarea name="properties[Custom message]"></textarea>
		</div>
		<div class="em-gf-card-form-row">
			<label>Date to send</label>
          <div class="gift-card-date-field-sec"><input placeholder="Select date" name="properties[Date to send]" type="text" id="datepicker"/></div>
		</div>
		<hr />
	</div>
</div>