<div class="em-inner-sidebar-sec">
			<h3 class="em-inner-sidebar-left-title">{{section.settings.title}}</h3>
   {% for link in linklists[section.settings.main_linklist].links %}
			<ul class="em-inner-sidebar-link-list">
				<li><a href="{{link.url}}">{{link.title}}</a></li>
			</ul>
  {%endfor%} 
		</div>