{%for image in product.images %}
<li>
{% comment %} <img src="{{image.src | img_url: "original" }}" /> {% endcomment %}
  {% comment %} <a href="{{image.src | img_url: 'original'}}" data-fancybox="images"> {% endcomment %}
  <a href="{{image.src | img_url: 'original'}}" data-fancybox="gallery">
    <img src="{{image.src | img_url: 'original'}}" />
  </a>
</li>


{%endfor %}