<div id="Proaccordion">
  <h3>Overview</h3>
  <div>
  <p>{%include "pro-description" %}</p>
    <p class="em-pro-tab-desc-top-text">The BasX TA-100 combines the features and capabilities of an audiophile quality stereo preamplifier, a high-performance FM tuner, and a high-quality power amplifier – all in one convenient package.</p>
<p>The preamp section includes line level analog inputs for a CD player or line-level source, a built-in USB DAC with plenty of digital inputs for your computer and other digital stereo sources, a high-quality phono preamp that supports both moving magnet and moving coil cartridges, and provisions for an optional high-quality AptX Bluetooth input module. The tuner offers full digital control, and 50 station presets. The fully complementary, all discrete Class A/B amplifier section delivers plenty of clean power to drive a pair of high-quality stereo speakers to satisfying listening levels; and the TA-100 includes line level outputs for a powered subwoofer, or for connecting an external power amplifier. The TA-100 can be operated via the simple front panel controls, or by the included infrared remote control. The intuitive menu system makes the TA-100 simple to configure and operate, and the big, easy to read, VFD display on the TA-100’s front panel shows you exactly what’s going on at all times.</p>
<div class="em-pro-tab-desc"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/product-desc-1.jpg?v=1593421095" /></div>
<div class="em-pro-tab-title-desc-row">
	<h3>BasX Performance</h3>
	<div class="em-pro-tab-title-desc-cont">
		<p>The BasX TA-100 offers the type of performance you might expect to find on expensive components costing many times its modest price. Unlike many other affordable audio components these days, the TA-100 delivers the superb sound and build quality you expect from a true high-end audiophile component. It has vanishingly low noise and distortion and features a wide-bandwidth design allowing you get the most out of your HD sources. Don’t be fooled by the conservative power ratings. Unlike the “throw-away” amplifiers you get in many low-powered receivers, the beefy fully complementary, all-discrete power amplifiers in the TA-100 have plenty of power reserves to drive all but the most inefficient speakers. Like all Emotiva amplifiers, they work very well with both 8 Ohm and 4 Ohm speakers.</p>
	</div>
</div>
<hr />
<div class="em-pro-tab-title-desc-row">
	<h3>BasX Quality</h3>
	<div class="em-pro-tab-title-desc-cont">
		<p>The BasX TA-100 is built to last, with a heavy-duty steel chassis, solid milled aluminum faceplate, and high-quality parts and construction… We expect you to enjoy your BasX TA-100 for a long time – and we back that up with a full three-year warranty.</p>
	</div>
</div>
<div class="em-pro-tab-desc"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/product-desc-2.jpg?v=1593421101" /></div>
<div class="em-pro-tab-title-desc-row">
	<h3>BasX: The Foundation of a Superb Audio System</h3>
	<div class="em-pro-tab-title-desc-cont">
		<p>The goal of putting together an exceptional audio system is to enrich your life with outstanding sound. It’s all about playing the music. It isn’t about spending a lot of money, or solid gold knobs or jewel encrusted remote controls. And you don’t need all sorts of complicated features you’re never going to use. The key to building a great audio system is to use well-designed components with excellent technical performance and superb sound quality. Every Emotiva BasX component has been designed from the ground up to be part of an excellent audio system. They incorporate the latest cutting edge technology and all the features you need to give you the best possible listening experience.</p>
	</div>
</div>
<hr />
<div class="em-pro-tab-title-desc-row">
	<h3>BasX: The Foundation of a Superb Audio System</h3>
	<div class="em-pro-tab-title-desc-cont">
		<p>As a leading manufacturer of home audio equipment, we’ve noticed that a lot of people still don’t have high-quality audio in their lives. Some folks don’t have the budget to buy good equipment, while others don’t have the time to spend trying to figure out how to use it – and that’s exactly why we developed our new Emotiva BasX products. Our BasX components combine great sound quality, a carefully chosen set of genuinely useful features, and rock solid performance, with a simple yet elegant design.</p>
		<p>This unique combination allows us to offer a combination you just can’t find anywhere else – great sound and great value. All of the components in our new BasX line are priced to be within reach of every music lover. You don’t need to be rich to afford them, and you don’t need to be an engineer to figure out how to use them. They’re carefully crafted to give you many years of reliable and trouble-free service, and they’ll look great in your living room or on your audio rack.</p>
		<p>You can build a complete music system out of our BasX components that will give you a true audiophile listening experience. Or try adding one or two BasX components to round out your existing audio system. Great sounding audio doesn’t have to be expensive or complicated.</p>
	</div>
</div>
  </div>
  <h3>Feature</h3>
  <div>
   <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
  </div>
  <h3>Specification</h3>
  <div>
    <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
  </div>
  <h3>Resources</h3>
  <div>
  <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
  </div>
</div>