<div id="CustomProtabs" style="display:inline-block;width:100%;">
  <ul>
    <li><a href="#tabs-1">Overview</a></li>
    <li><a href="#tabs-2">Feature</a></li>
    <li><a href="#tabs-3">Specification</a></li>
    <li><a href="#tabs-4">Resources</a></li>
  </ul>
  <div id="tabs-1">
   {{product.metafields.global.overview}}
  </div>
  <div id="tabs-2">
    {{product.metafields.global.feature}}
  </div>
  <div id="tabs-3">
  {{product.metafields.global.specification}}
  </div>
  <div id="tabs-4">
  {{product.metafields.global.resources}}
  </div>
</div>