<div id="Proaccordion">
  <h3>Overview</h3>
  <div>
 {{product.metafields.global.overview}}
  </div>
  <h3>Feature</h3>
  <div>
   {{product.metafields.global.feature}}
  </div>
  <h3>Specification</h3>
  <div>
    {{product.metafields.global.specification}}
  </div>
  <h3>Resources</h3>
  <div>
   {{product.metafields.global.resources}}
  </div>
</div>