<div class="em-sin-pro-reward-main">
<div class="em-sin-pro-reward-box">
<p>Earn 5000 Reward Points with this purchase <span class="em-sin-pro-reward-box-info"></span></p>
</div>
<div class="em-sin-pro-reward-popup">
<div class="em-sin-pro-reward-pop-inn">
<div class="em-sin-pro-reward-pop-close"></div>
<h3>Earn Reward Points with Every Purchase</h3>
<div class="em-sin-pro-reward-pop-desc">
<ul>
<li>100 pts = $5</li>
<li>Spend on future purchases and upgrades</li>
<li>$100 min for points redeption </li>
<li>Points expire after 6 months of inactivity</li>
</ul>
<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/picto-rewards_7cf38786-a088-48bf-83fe-a2eeaccd8863.png?v=1593505646" />
</div>
</div>
</div>
</div>