{{"swell-referral-history.css" | asset_url | stylesheet_tag}}
<section class="swell-referral-history-container">
	<div class="swell-referral-history-text">
		<a href="../pages/rewards">Check Rewards Balance</a>
		<h3>YOUR REFERRALS</h3>
		<div class="swell-referral-history-table"></div>
		<h3>HOW DO I REDEEM MY POINTS?</h3>
		<p>Now, the fun part! Simply apply your discount at checkout.</p>
		</div>
</section>
{{"swell-referral-history.js" | asset_url | script_tag}}
