
{{"swell-redemption-discount.css" | asset_url | stylesheet_tag}}

<div class="swell-redemption-discount">
	<div class="swell-redemption-discount-text">
		<h1>REDEEM FOR DISCOUNTS</h1>
		<p>Redeeming your hard-earned points is easy!</p>
		<p>Simply apply your points at checkout for discounts!</p>
		<p>100 points = $15</p>
		<button onclick="window.location.href='/'">Shop Now</button>
	</div>
		</div>

