{{"swell-rewards-referral.css" | asset_url | stylesheet_tag}}

<div class="swell-rewards-referral-container">
	<div class="swell-rewards-referral">
		<h3>REFER A FRIEND</h3>
		<div class="swell-rewards-referral-title">
			<h1>GIVE $50</h1><h1>,</h1><h1>GET $20 IN POINTS</h1>
	    </div>
		<p>Give your friends $50 off on their first order of $350+ and get $20  in points for each successful referral.</p>
		<button onclick="window.location.href='/pages/refer'">START REFERRING NOW</button>
	</div>
</div>
