{{"swell-purchase.css" | asset_url | stylesheet_tag}}
<div class="swell-purchase swell-purchase-hidden">
	<div class="swell-purchase-body">
		<div class="swell-purchase-text"></div>
		{% include "swell-referral" %}
		<div class="swell-purchase-img"></div>
	</div>

</div>
