
{{"swell-vip-tiers.css" | asset_url | stylesheet_tag}}
<div class="swell-vip-tiers">
<div class="swell-vip-tiers-container">
	<div class="swell-vip-tiers-img">
		<h1>VIPs<br>
		EARN EVEN MORE</h1>
	</div>
	<div class="swell-vip-tiers-setting">
		
	</div>
	</div>
</div>
{{"swell-vip-tiers.js" | asset_url | script_tag}}