<div class="overlaydiv overlaydiv-blr"></div>
<div class="popupdiv res-video-popup">
  <div class="closeimage-main"><div class="closeimage">close <span>x</span></div></div>
<div class="shipping-policy VideoLink" ng-bind-html="extraContent">
<iframe src="https://www.youtube.com/embed/j8CklKwQW8I" gesture="media" allow="encrypted-media" allowfullscreen="" width="100%" height="300" frameborder="0"></iframe>
  </div>
</div>