<div class="em-logo-inf-slider-section">
			<div class="page-width">
				<div class="em-logo-inf-slider-sec-inn">
					<h4 class="em-logo-inf-slider-title">Let's have other judge if we succeeded</h4>
					<div class="em-logo-inf-slider-main">
						<div class="em-logo-inf-slider-inn">
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
						</div>
						<div class="em-logo-inf-slider-inn">
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/fea-logo.jpg?v=1592289900"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
{% schema %}
  {
    "name": "Custom Slide Logo",
"class": "index-section CustomtSlideLogo",
    "settings": [],
  "presets": [
    {
      "name": {
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Custom Slide Logo"
      },
      "category": {
        "da": "Image",
        "de": "Image",
        "en": "Image"
      }
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
