<div class="em-hm-latest-rd-main">
	<div class="page-width">
		<div class="em-hm-latest-rd-inn">
			<h3 class="em-hm-section-title">Latest Reads</h3>
			<div class="em-hm-latest-rd-row">
				<div class="em-hm-latest-rd-block">
					<a href="#">
						<div class="em-hm-latest-rd-img">
							<div class="em-hm-latest-rd-img-lbl">Processors</div>
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/read-3.jpg?v=1592309350" />
						</div>
						<h3 class="em-hm-latest-rd-title">RMC-1: A state of the art surround sound processor</h3>
					</a>
				</div>
				<div class="em-hm-latest-rd-block">
					<div class="em-hm-latest-rd-upr">
						<a href="#">
							<div class="em-hm-latest-rd-img">
								<div class="em-hm-latest-rd-img-lbl">News</div>
								<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/read-2.jpg?v=1592309353" />
							</div>
							<h3 class="em-hm-latest-rd-title">Audio History: Say Hello to iPod: 1,000 Songs in Your Pocket</h3>
						</a>
					</div>
					<div class="em-hm-latest-rd-lwr">
						<div class="em-hm-latest-rd-lwr-row">
							<div class="em-hm-latest-rd-lwr-block">
								<a href="#">
									<div class="em-hm-latest-rd-img">
										<div class="em-hm-latest-rd-img-lbl">Press Reviews</div>
										<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/read-1.jpg?v=1592309344" />
									</div>
									<h3 class="em-hm-latest-rd-title">Spare Change Reviews the RMC-1 Cinema Processor and XPA-DR3 Amplifier!</h3>
								</a>
							</div>
							<div class="em-hm-latest-rd-lwr-block">
								<a href="#">
									<div class="em-hm-latest-rd-img">
										<div class="em-hm-latest-rd-img-lbl">Products</div>
										<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/read-4.jpg?v=1592309337" />
									</div>
									<h3 class="em-hm-latest-rd-title">Airmotiv B1+ Pair</h3>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>    
{% schema %}
  {
    "name": "Custom Blog",
    "class": "index-section CustomtBlogs",
    "settings": [

],
  "presets": [
    {
      "name": {
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Custom Blog"
      },
      "category": {
        "da": "Blog",
        "de": "Blog",
        "en": "Blog"
      }
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
