<div class="em-hm-dacs-news-main">
	<div class="page-width"> 
		<div class="em-hm-dacs-news-inn">
			<div class="dacs-news-layered-sec" 
        style="background-image: url('https://cdn.shopify.com/s/files/1/2572/6926/files/dacs_news_banner.jpg?v=1622756796');">
        <div class="dacs-news-layered-sec-mob" style="background-image: url('https://cdn.shopify.com/s/files/1/2572/6926/files/dacs_news_banner_mobile.jpg?v=1622756796');">
          <div class="dacs-news-layered-cont-upr">
            <h3>Personal audio for<br>true audiophiles</h3>
            <p class="dacs-news-layered-cont-des">Equipment for the most demanding ones.</p>
            <div class="dacs-news-layered-cont-btn"><a href="https://emotiva.com/collections/dacs" class="em-bl-back-btn" target="_blank">Explore range</a></div>
          </div>
        </div>
		  </div>
    </div>
  </div>
</div>    
{% schema %}
  {
    "name": "DACSNews",
    "class": "index-section CustomtDACSNews",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Heading"
      }
    }

  ],
  "presets": [
    {
      "name": {
        "da": "DACSNews",
        "de": "DACSNews",
        "en": "DACSNews"
      },
      "category": {
        "da": "DACSNews",
        "de": "DACSNews",
        "en": "DACSNews"
      }
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
