<div class="em-hm-pro-art-sec">
	<div class="page-width">
		<div class="em-hm-pro-art-inn">
			<div class="em-hm-pro-art-row">
				<div class="em-hm-pro-art-block">
					<h3 class="em-hm-section-title">{{section.settings.title}}</h3>
					<div class="em-hm-fea-pro-block">
						<div class="em-hm-fea-pro-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/product-featured-placeholder1.png?v=1592295849" /></div>
						<h3>RMC-1</h3>
						<h4>16 Channel 9.1.6 Discreet Dolby Atmos & DTS:X Reference Cinema Processor</h4>
						<p>The RMC-1 is a state-of-the-art surround sound processor - designed from the ground up to serve as the nerve center of a modern home theater or surround sound music system. </p>
						<div class="em-hm-fea-pro-price-rate">
							<p>$4.999.00</p>
							<div class="em-hm-fea-pro-rating"></div>
						</div>
					</div>
					<div class="em-hm-pro-art-block-link">
						<a href="#" class="bl-text-arw-link">All Products</a>
					</div>
				</div>
				<div class="em-hm-pro-art-block">
					<h3 class="em-hm-section-title">Featured Articles</h3>
					<div class="em-hm-fea-art-block">
						<a href="#">
							<div class="em-hm-fea-art-block-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/news-1.jpg?v=1592295847" /></div>
							<div class="em-hm-fea-art-block-cont">
								<h5>Loudspeakers</h5>
								<h3>How to choose the best audio processor?</h3>
								<div class="em-hm-fea-art-block-auth">
									<div class="em-hm-fea-art-auth-info">
										<p><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/auth-img.png?v=1592298000" /> January 6, 2020<br />by John</p>
										<div class="em-hm-fea-art-auth-link"><span class="bl-text-arw-link">Read</span></div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="em-hm-fea-art-block em-hm-fea-art-img-right">
						<a href="#">
							<div class="em-hm-fea-art-block-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/news-2.jpg?v=1592295841" /></div>
							<div class="em-hm-fea-art-block-cont">
								<h5>Press Reviews</h5>
								<h3>XMC-1 Reviewed by The Audio Squad Blog</h3>
								<div class="em-hm-fea-art-block-auth">
									<div class="em-hm-fea-art-auth-info">
										<p><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/auth-img.png?v=1592298000" /> January 21, 2020<br />by John</p>
										<div class="em-hm-fea-art-auth-link"><span class="bl-text-arw-link">Read</span></div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="em-hm-fea-art-block">
						<a href="#">
							<div class="em-hm-fea-art-block-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/news-3-1.jpg?v=1592295832" /></div>
							<div class="em-hm-fea-art-block-cont">
								<h5>News</h5>
								<h3>Processor 101 Class from our Open House 2019!</h3>
								<div class="em-hm-fea-art-block-auth">
									<div class="em-hm-fea-art-auth-info">
										<p><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/auth-img.png?v=1592298000" /> January 6, 2020<br />by John</p>
										<div class="em-hm-fea-art-auth-link"><span class="bl-text-arw-link">Read</span></div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="em-hm-pro-art-block-link">
						<a href="#" class="bl-text-arw-link">All Products</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% schema %}
  {
    "name": "Product and Post",
    "settings": [{
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading"
      },
      "default": {
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Featured Products"
      }
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
