<div class="em-hm-headphone-main">
	<div class="page-width"> 
		<div class="em-hm-headphone-inn">
			<div class="headphone-layered-sec" 
        style="background-image: url('https://cdn.shopify.com/s/files/1/2572/6926/files/headphones-promo_1.jpg?v=1603993375');">
        <div class="headphone-layered-sec-mob" style="background-image: url('https://cdn.shopify.com/s/files/1/2572/6926/files/headphones-promo-mobile.jpg?v=1603993300');">
          <div class="headphone-layered-cont-upr">
            <h3>Emotiva Headphones</h3>
            <p class="headphone-layered-cont-des">The Airmotiv GR1 is a true audiophile headphone, combining superb sound quality, exceptional comfort, superior construction, and advanced design.</p>
            {% comment %} <ul class="em-banner-feature-list">
              <li><p><img src="//cdn.shopify.com/s/files/1/2572/6926/files/fea-icon-01_small.jpg?v=1593488977" />Bespoke high-end audio quality</p></li>
              <li><p><img src="//cdn.shopify.com/s/files/1/2572/6926/files/fea-icon-02_small.jpg?v=1593488978" />Direct to consumer, no retail markups</p></li>
            </ul> {% endcomment %}
            <div class="headphone-layered-cont-btn"><a href="https://emotiva.com/collections/headphones" class="em-bl-back-btn" target="_blank">Explore range</a></div>
          </div>
        </div>
		  </div>
    </div>
  </div>
</div>    
{% schema %}
  {
    "name": "HeadphoneNews",
    "class": "index-section CustomtHeadphoneNews",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Heading"
      }
    }

  ],
  "presets": [
    {
      "name": {
        "da": "HeadphoneNews",
        "de": "HeadphoneNews",
        "en": "HeadphoneNews"
      },
      "category": {
        "da": "HeadphoneNews",
        "de": "HeadphoneNews",
        "en": "HeadphoneNews"
      }
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
