<div class="cst_yotpo_instagram_gallery em-hm-newsletter-sec">
	<div class="page-width">
		<div
			class="yotpo yotpo-pictures-widget"
			data-gallery-id="5f4e5da142c01f29c26d34a1">
		</div>
	</div>
</div>
{% schema %}
  {
    "name": "Instagram",
    "settings": [],
	"presets": [
        {
          "name": {
            "en": "Instagram Photo Gallery"
          },
          "category": {
            "en": "Instagram"
          }
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
