<div class="em-satisfaction-gray-bar">
	<div class="em-satisfaction-gray-bar-inn">
		<h3>Satisfaction Guaranteed</h3>
		<div class="em-satisfaction-gray-row">
			<div class="em-satisfaction-gray-blk">
				<p><img src="{{'bar-blk-icon-1.png'|file_url}}" /> Bespoke high-end<br /> audio quality</p>
			</div>
			<div class="em-satisfaction-gray-blk">
				<p><img src="{{'bar-blk-icon-1.png'|file_url}}" /> Direct to consumer, no<br /> retail markups</p>
			</div>
			<div class="em-satisfaction-gray-blk">
				<p><img src="{{'bar-blk-icon-1.png'|file_url}}" /> 5 years transferrable<br /> warranty</p>
			</div>
			<div class="em-satisfaction-gray-blk">
				<p><img src="{{'bar-blk-icon-1.png'|file_url}}" /> Upgrade Gear with our<br /> Trade-In Program</p>
			</div>
		</div>
	</div>
</div>
{% schema %}
  {
    "name": "Light BG With Icon",
    "settings": [
{
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Heading"
      }
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
