<div class="em-hm-new-basx-amp-main">
	<div class="page-width"> 
		<div class="em-hm-nbasxa-inn">
			<div class="nbasxa-layered-sec" 
        style="background-image: url('https://cdn.shopify.com/s/files/1/2572/6926/files/basx2-promo_1.jpg?v=1618506130');">
        <div class="nbasxa-layered-sec-mob" 
          style="background-image: url('https://cdn.shopify.com/s/files/1/2572/6926/files/basx2-promo_mob_1.jpg?v=1618506116');">
          <div class="nbasxa-layered-cont-upr">
            <h5 class="nbasxa-new-sub-title">BasX 2.0</h5>
            <h3 class="nbasxa-new-title">True audiophile sound quality at an affordable price</h3>
            <div class="nbasxa-feature-block">
              <div class="nbasxa-feature-itemlist">
                <p class="nbasxa-feature-item">High-quality Class A/B amplification</p>
                <p class="nbasxa-feature-item">More powefull power supply</p>
              </div>
              <div class="nbasxa-feature-itemlist">
                <p class="nbasxa-feature-item">Transparent fault protection</p>
                <p class="nbasxa-feature-item">Trigger Input & Output</p>
              </div>
            </div>
            <div class="nbasxa-layered-cont-btn">
              <a href="https://emotiva.com/collections/headphones" class="em-bl-back-btn" target="_blank">Explore range</a>
            </div>
            <p class="nbasxa-layered-cont-des">+ industry standard unbalanced inputs, via high quality RCA connectors, audiophile grade five-way speaker terminals, and our sleek new styling</p>
          </div>
        </div>
		  </div>
    </div>
  </div>
</div>    
{% schema %}
  {
    "name": "New BasX Amp",
    "class": "index-section CustomtNewBasxAmp",
    "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading"
      },
      "default": {
        "da": "Logoliste",
        "de": "Logo-Liste",
        "en": "Heading"
      }
    }

  ],
  "presets": [
    {
      "name": {
        "da": "New BasX Amp",
        "de": "New BasX Amp",
        "en": "New BasX Amp"
      },
      "category": {
        "da": "New BasX Amp",
        "de": "New BasX Amp",
        "en": "New BasX Amp"
      }
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
