<div class="em-hm-newsletter-sec">
	<div class="page-width">
		<div class="em-hm-newsletter-inn" style="background-image: url('{{'Group.jpg'| file_url}}');">
          <div class="em-hm-newsletter-inn-img"><img src="{{'mob-newsletter-img.jpg'| file_url}}" /></div>
			<div class="em-hm-newsletter-block">
				<h3>Become part of the community</h3>
				<p>Sign up for our newsletter and receive the latest news first. Stay in the know and get the latest promotions and product announcements.</p>
				<div class="em-hm-newsletter-block-form"><!--form here-->
                
           <div class="klaviyo-form-V2nWLd"></div>
              </div>
              <div class="em-hm-newsletter-data-txt"><p><span>We will never ever sell your data!</span></p></div>
			</div>
		</div>
	</div>
</div>
{% schema %}
  {
    "name": "Newsletter",
"class": "index-section CustomNews",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
