<div class="em-inner-sidebar-left">
			{%include "page-sidebar"%}
		</div>
		<div class="em-inner-sidebar-cont-right">
			<div class="em-inner-sidebar-cont-inn">
				<div class="em-inner-sidebar-cont-block">
					<h1 class="em-inner-sidebar-cont-title">Service & Repair Inquiry</h1>
                  	<p>Our goal is to provide you with exceptional service for your Emotiva products. If you have a service & repair inquiry, please fill in the form below and our support representative will get in touch shortly.</p>
                    <div class="em-inner-sidebar-cont-sp-form">
                      <div class="em-inner-sidebar-cont-sp-form-inn">
                      	{%include "contact-form"%}
                      </div>
                  	</div>
				</div>			  			  
			</div>
		</div>
{% schema %}
  {
    "name": "Resources 10",
    "settings": [
{
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Content"
      },
       {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "da": "Menu",
        "de": "Menü",
        "en": "Menu"
      },
      "default": "main-menu"
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
