<div class="page-width">
<div id="stamped-reviews-widget" data-widget-type="carousel" data-title="What our customers say" data-random="? string:What our customers say ?"></div>
</div>  
  {% schema %}   
  {
    "name": "Review Slider",
    "settings": [],
  "presets": [     
    {
      "name": {
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Review Slider"
      },
      "category": {
        "da": "Text",
        "de": "Text",
        "en": "Text"
      }
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
