<div class="page-width">
  <!--Yotpo-->
  <div class="yotpo yotpo-reviews-carousel" 
  data-background-color="transparent" 
  data-mode="top_rated" 
  data-type="site" 
  data-count="9" 
  data-show-bottomline="1" 
  data-autoplay-enabled="1" 
  data-autoplay-speed="3000" 
  data-show-navigation="1">&nbsp;</div>
  <!--stamp.io-->
  <div class="em-hm-testimonial-main">
    <div id="stamped-reviews-widget" data-widget-type="carousel" data-title="What our customers say" data-random="? string:What our customers say ?" data-per-slide="1" ></div>
  </div>  
</div>
  {% schema %}   
  {
    "name": "Review Slider",
    "settings": [],
  "presets": [     
    {
      "name": {
        "da": "Udvalgt kollektion",
        "de": "Vorgestellte Kategorie",
        "en": "Review Slider"
      },
      "category": {
        "da": "Text",
        "de": "Text",
        "en": "Text"
      }
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
