$(document).ready(function(){ 
 var getprice = $(".cartTotal").html();
 
        if(getprice >49)
        {
          console.log("show");
        $(".ShippingText").show();
        }
        else{
          console.log("hide");
          $(".ShippingText").hide();
        }
    
//     var ListHtml = $(".custom_blogs").html();
//   $(".BlogCustomize").html(ListHtml);
  var aTop = $('.DesktopHeader').height();
  aTop = aTop+60;
  $(window).scroll(function(){
    
    if($(this).scrollTop()>=aTop){
        $(".em-top-head-sec-sticky").addClass("em-top-head-sec-sticky-open");
    }
    else{
     $(".em-top-head-sec-sticky").removeClass("em-top-head-sec-sticky-open");
    }
  });
  
  var getPHeight =0;
  var getnewvalue=0;
   var getHHeight =0;
  var getnewHHeight=0;
  $(".gray-back-block-box").each(function(){
    
  getPHeight = $(this).children(".contact-pg-info-block").children("p").height();
    if(getPHeight>=getnewvalue){
    getnewvalue = getPHeight;
    } 
    getHHeight = $(this).children(".contact-pg-info-block").children("h5").height();
    if(getHHeight>=getnewHHeight){
    getnewHHeight = getHHeight;
    }
  })
  $(".contact-pg-info-block p").css("min-height",getnewvalue);
  $(".contact-pg-info-block h5").css("min-height",getnewHHeight);
  console.log(getnewvalue);
 
  $("#myBtn").click(function(){
    if($(this).hasClass("showfull")){
     
      $(this).removeClass("showfull");
      $(this).text("Show more");
      $(".more-custom").css("display","none");

    }
    else{
      
      $(this).addClass("showfull");
      $(this).text("Show less");
      $(".more-custom").css("display","block");
   
    }
  })
  /****************MENU HOVER IMAGE CHANGE *********************/
  $(".hoverworking").mouseenter(function(){
  var getImagepath = $(this).attr("data-images");
  
    $(this).parents(".childlist").parents(".em-mega-menu-dd-main-left").next(".em-mega-menu-dd-main-right").children("img").attr("src",getImagepath);
  $(".em-mega-menu-dd-main-right").show();
  })
  $(".CheckNote").change(function(){
  if ($('input.CheckNote').is(':checked')) {
    $(".em-cartspecial-ins-textarea").show();
  }    
  else{
  $(".em-cartspecial-ins-textarea").hide();
    $("#CartSpecialInstructions").val(" ");
  }
    })
 /*********************** CART UPDATE QUANTITY ***********************/
  $('body').on('click', '.qtyplus', function() {

    var valuepluss = $(this).attr("max");

    var val_qty = parseInt($(this).prev(".cart__qty-input").val());

    if(val_qty >= 0 &&  val_qty < valuepluss)
    {
      val_qty = val_qty + 1 ;
    }

    $(this).prev(".cart__qty-input").val(val_qty);
    var getline = $(this).parents(".cart__qty").attr("data-line");

    $.ajax({
      type: 'POST',
      url: '/cart/change.js',
      data:  'quantity=' + val_qty + '&line=' + getline,
      dataType: 'json',

      success: function(dataa) 
      {
     
       

        $.ajax({
          type: "GET",
          url: "/cart",
          dataType: 'html',

          success: function(data) 
          {

            // console.log(data);
            var minicartdata=$(data).find('.CustomCartTemp').html();

            $('.CustomCartTemp').html(minicartdata);
            var priceget = (dataa.total_price);
            
        priceget = (theme.Currency.formatMoney(dataa.total_price));
        priceget = priceget.replace("$","");
            console.log(priceget);
        if(priceget >49)
        {
          console.log("show");
        $(".ShippingText").show();
        }
        else{
          console.log("hide");
          $(".ShippingText").hide();
        }
          }
        })
      }
    })
  });
  $('body').on('click', '.qtyminus', function() {

    var valuepluss = $(this).attr("min");

    var val_qty = parseInt($(this).next(".cart__qty-input").val());

    if(val_qty > 0)
    {
      val_qty = val_qty - 1 ;
    }

    $(this).next(".cart__qty-input").val(val_qty);
    var getline = $(this).parents(".cart__qty").attr("data-line");

    $.ajax({
      type: 'POST',
      url: '/cart/change.js',
      data:  'quantity=' + val_qty + '&line=' + getline,
      dataType: 'json',

      success: function(dataa) 
    
      {
        
        if(dataa.item_count > 0){
          //$('.ttlitems').html(data.item_count) ;    
          //$('#CartCount> span').html(data.item_count) ;  
 
        } else {
         // $('.ttlitems').html(data.item_count) ;    
         // $('#CartCount> span').html(data.item_count) ;  
        }

        $.ajax({
          type: "GET",
          url: "/cart",
          dataType: 'html',

          success: function(data) 
          {

            // console.log(data);
            var minicartdata=$(data).find('.CustomCartTemp').html();

            $('.CustomCartTemp').html(minicartdata);
            var priceget = (dataa.total_price);
        priceget = (theme.Currency.formatMoney(dataa.total_price));
        priceget = priceget.replace("$","");
        if(priceget >49)
        {
          console.log("show");
        $(".ShippingText").show();
        }
        else{
          console.log("hide");
          $(".ShippingText").hide();
        }
          }
        })
      }
    })
  });
  

   $( "#Proaccordion" ).accordion({
      collapsible: true,heightStyle: "content"
    });
  $(".em-mob-has-dropdown>a").click(function(){
  $(this).parent("li").toggleClass("em-mob-has-drop-open");
    $(this).next("ul").toggleClass("em-mob-drop-open");
  }) 
  if ($(window).width() < 749)
  {
    $('body').on('click', '.em-sin-pro-reward-box', function() {
     
  $(this).next(".em-sin-pro-reward-popup").toggleClass("RewardPop");
  })
  }
//    $('body').on('click', '.em-sin-pro-reward-pop-close', function() {
//     $(".em-sin-pro-reward-popup").removeClass("RewardPop");
//   })
//   $(".product-form .em-sin-pro-reward-main").mouseenter(function(){
//   $(".product-form .em-sin-pro-reward-popup").addClass("RewardPop");
//   })
//   $(".product-form .em-sin-pro-reward-main").mouseleave(function(){
//   $(".product-form .em-sin-pro-reward-popup").removeClass("RewardPop");
//   })
  
//   $('body').on('click', '#slidingcartmain .em-sin-pro-reward-box p span', function() {
//   $("#slidingcartmain .em-sin-pro-reward-popup").toggleClass("RewardPop");
//   })
//    $('body').on('click', '#slidingcartmain .em-sin-pro-reward-pop-close', function() {
//     $("#slidingcartmain .em-sin-pro-reward-popup").removeClass("RewardPop");
//   })
//    $(".cart__footer .em-sin-pro-reward-box p span").click(function(){
//  $(".cart__footer  .em-sin-pro-reward-popup").toggleClass("RewardPop");
//   })
  $(".moreDesc").on('click',function() {
    $(".lessDesc").hide();
    $(".FullDesc").show();
});
 $(".lessBtn").on('click',function() {
  $(".lessDesc").show();
    $(".FullDesc").hide();
 })
  
 
  
  $('body').on('click', '.pro_qtyplus', function() {
    console.log("abc");
 var valuepluss = $(this).attr("max");
     
     var val_qty = parseInt($(this).prev(".qty").val());
  if(val_qty >= 0 &&  val_qty < valuepluss)
  {
        val_qty = val_qty + 1 ;
  }

    $(this).prev(".qty").val(val_qty);

    });
 $('body').on('click', '.pro_qtyminus', function() {
   console.log("abccc");
 var valueplus = $(this).attr("min");
     
     var val_qty = parseInt($(this).next(".qty").val());
  if(val_qty > 1)
  {
        val_qty = val_qty - 1 ;
  }

    $(this).next(".qty").val(val_qty);

    });
  $( "#CustomProtabs" ).tabs();
 
 
  $(".em-mob-header-menu-icon").click(function(){
  $(".em-mob-toggle-menu").toggleClass("em-mob-toggle-menu-open");
    $("body").toggleClass("mobilemenu-open");
    $('<div class="em-toggle-menu-fade-lr"></div>').insertBefore(".em-mob-toggle-menu");
  })
  $(".em-mob-toggle-menu-close").click(function(){
  $(".em-mob-toggle-menu").removeClass("em-mob-toggle-menu-open");
    $("body").removeClass("mobilemenu-open");
      $('.em-toggle-menu-fade-lr').remove();
  })
})
$( "#CustomaccordionFoot" ).accordion({
      collapsible: true,heightStyle: "content"
    });
 if ($(window).width() < 749) {
$('.em-about-award-mob-slider').slick({
  infinite: true,
  slidesToShow: 1,
  slidesToScroll: 1
});
  }

 $(".CustomMainSlide").slick({
      slidesToShow: 1,
      slidesToScroll: 1,
      arrows: true,
      fade: true,
      adaptiveHeight: true,
      asNavFor: '.product-single__thumbnails'
    })
    if ($(window).width() > 749) {
  $('.product-single__thumbnails').slick({
    slidesToShow: 8,
    slidesToScroll: 1,
    asNavFor: '.CustomMainSlide',
    dots: false,
    centerMode: false,
    focusOnSelect: true,
    variableWidth: true
  });
}