var LinkGet = window.location.pathname;
$(".em-inner-sidebar-link-list li").each(function(){
  var LocationFind = $(this).children("a").attr("href");
  if(LocationFind==LinkGet){
    $(this).children("a").addClass("active");
  }
  else{
   $(this).children("a").removeClass("active");
  }
})
$( "#accordionCareers" ).accordion({
      collapsible: true,heightStyle: "content",header: "h3", active: false
});
var HeightGet = $("#shopify-section-header").height();
console.log("Height" +HeightGet);
$(".em-landing-pg-img").css("top",HeightGet);
$("body").css("padding-top",HeightGet);

if(LinkGet.indexOf("diraclive?contact_posted=true") != -1){
  $(".em-landing-pg-main").addClass("em-landing-form-thank-open");
  $("#powerfull_dirac_form_success").addClass("powerfull-dirac-form-success-show");
  $("#powerfull_dirac_form").addClass("powerfull-dirac-form-hide");
}
else{
  $(".em-landing-pg-main").removeClass("em-landing-form-thank-open");
  $("#powerfull_dirac_form_success").removeClass("powerfull-dirac-form-success-show");
  $("#powerfull_dirac_form").removeClass("powerfull-dirac-form-hide");
}   
setTimeout(function(){
  var str= "<div class='em-landing-mac-fld-tooltip-block'>"+$("#text-8").parent().html()+"<div class='em-landing-mac-fld-tooltip'><img src='https://cdn.shopify.com/s/files/1/2572/6926/files/tl-tip-icon-gr.jpg?v=1592811116' /><div class='em-landing-mac-fld-tt-hover'><p style='display: block !important;'>You can find your MAC address in your processor menu under MENU > INFORMATION > MAC ADDRESS.</p></div></div></div></div>"
  $("#text-8").parent().html(str);
}, 8000);

$( "#accordionBilling" ).accordion({
      collapsible: true,heightStyle: "content",header: "h3", active: false, animate: 0
});
$( "#accordionOrder" ).accordion({
      collapsible: true,heightStyle: "content",header: "h3", active: false
});
$( "#accordionCompany" ).accordion({
      collapsible: true,heightStyle: "content",header: "h3", active: false
});

//alert("testing");
$(".CustomerIndex").each(function(i){
  console.log("INDEX"+i);
$( ".CustomerAccordion-"+i ).accordion({
      collapsible: true,heightStyle: "content",header: "h3", active: false
});
})