{{ content_for_index }}
{%comment %}
<div class="em-hm-latest-rd-main">
	<div class="page-width">
		<div class="em-hm-latest-rd-inn">
			<h3 class="em-hm-section-title">Latest Reads</h3>
			<div class="em-hm-latest-rd-row">
				<div class="em-hm-latest-rd-block">
					<a href="#">
						<div class="em-hm-latest-rd-img">
							<div class="em-hm-latest-rd-img-lbl">Processors</div>
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/read-3.jpg?v=1592309350" />
						</div>
						<h3 class="em-hm-latest-rd-title">RMC-1: A state of the art surround sound processor</h3>
					</a>
				</div>
				<div class="em-hm-latest-rd-block">
					<div class="em-hm-latest-rd-upr">
						<a href="#">
							<div class="em-hm-latest-rd-img">
								<div class="em-hm-latest-rd-img-lbl">News</div>
								<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/read-2.jpg?v=1592309353" />
							</div>
							<h3 class="em-hm-latest-rd-title">Audio History: Say Hello to iPod: 1,000 Songs in Your Pocket</h3>
						</a>
					</div>
					<div class="em-hm-latest-rd-lwr">
						<div class="em-hm-latest-rd-lwr-row">
							<div class="em-hm-latest-rd-lwr-block">
								<a href="#">
									<div class="em-hm-latest-rd-img">
										<div class="em-hm-latest-rd-img-lbl">Press Reviews</div>
										<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/read-1.jpg?v=1592309344" />
									</div>
									<h3 class="em-hm-latest-rd-title">Spare Change Reviews the RMC-1 Cinema Processor and XPA-DR3 Amplifier!</h3>
								</a>
							</div>
							<div class="em-hm-latest-rd-lwr-block">
								<a href="#">
									<div class="em-hm-latest-rd-img">
										<div class="em-hm-latest-rd-img-lbl">Products</div>
										<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/read-4.jpg?v=1592309337" />
									</div>
									<h3 class="em-hm-latest-rd-title">Airmotiv B1+ Pair</h3>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
</div>     
  
    
    
    
    
<div class="em-hm-about-main">
	<div class="page-width">
		<div class="em-hm-about-sec">
			<div class="em-hm-about-inn">
				<div class="em-hm-about-upr">
					<h4 class="em-hm-about-title">About us</h4>
					<h2>We're just like you</h2>
					<p>We have one goal: to offer exceptionally designed, high performance products at prices that more people could afford and enjoy.</p>
				</div>				
				<div class="em-hm-about-lwr">
					<div class="em-hm-about-row">
                      <div class="em-hm-about-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/about-img.png?v=1592286961" /></div>
						<div class="em-hm-about-cont">
							<p>Emotiva asked a simple question: "Why can't we have amazing audio and video sound at price that don't threaten our mortage?"</p>
							<p>Emotiva is comprised of true audio enthusiasts, engineers, and product specialists. We run a lean organization without excess overhead and redundant levels of management. Our people are passionate enthusiasts who enjoy the experience of using Emotiva products equally as much as designing and building them.</p>
							<a href="#" class="bl-text-arw-link">Read more</a>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>








<div class="em-logo-inf-slider-section">
			<div class="page-width">
				<div class="em-logo-inf-slider-sec-inn">
					<h4 class="em-logo-inf-slider-title">Let's have other judge if we succeeded</h4>
					<div class="em-logo-inf-slider-main">
						<div class="em-logo-inf-slider-inn">
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/best_online_newsweek_2020_cfd9153a-43f3-4549-a4a3-14b34e44f518.png?v=1593602084"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hifi_news_bestof_347aa340-3be1-4f47-a330-8fa3836a46d8.png?v=1593602092"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/stereophile_bfca101f-22aa-4cbd-b198-9132b7e733ee.png?v=1593602087"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/Axpona-Logo.png?v=1593602084"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/Sound-Vision-logo_ef5598e4-7453-41d0-8fd7-9298fb7787e2.png?v=1593602087"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/awards4-1_1549a0a9-a4e6-4c1b-8b21-af5dc5bc4820.png?v=1593602083"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/TEC_logo_2013_1-1_02367f88-b12f-46f1-abce-734c85b942e1.png?v=1593602093"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/bestofawards2014-featured-1_18c65426-09be-4486-8653-9b3b70e78e15.png?v=1593602092"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/best-of-awards-2017-intro-featured-1_339f914f-6cbe-46d3-8de7-94a937d100be.png?v=1593602091"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/BOA-2017.png?v=1593602090"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/secrets-bestof20162_42b4c751-1fa7-47aa-aaf4-d00941104295.png?v=1593602090"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/secrets-bestof2016_1f2f9c0b-bbb8-4f8b-9f0d-ae48dfd6d06e.png?v=1593602089"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/secrets-bestof2016_1f2f9c0b-bbb8-4f8b-9f0d-ae48dfd6d06e.png?v=1593602089"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/best-of-awards-2017.png?v=1593602089"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/best-of-awards-2013-main-new-1_a5d641d1-c974-4966-ae43-094885204b71.png?v=1593602088"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/logo_192-1_b2db2159-87eb-49a8-8717-dc59c5324c62.png?v=1593602087"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/awards_1-1_e81743d5-28f9-4313-93b3-b95d97cdb0f9.png?v=1593602083"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/awards2-1_ed8aa216-b81f-4772-a034-d96bb72b2a91.png?v=1593602083"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/AVS-Forum-Review-Awards-1_5f190248-6d41-47b1-b96e-2ce51a78b6dd.png?v=1593602082"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/avscedia_95c0f2b3-f946-424d-bc81-6633b62e9ea0.png?v=1593602065"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/av_martindale-hubbell_ce08f2d7-49b2-4fdf-a932-74959c3f53d9.png?v=1593602065"></a>
						</div>
						<div class="em-logo-inf-slider-inn">
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/best_online_newsweek_2020_cfd9153a-43f3-4549-a4a3-14b34e44f518.png?v=1593602084"></a>
							<a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hifi_news_bestof_347aa340-3be1-4f47-a330-8fa3836a46d8.png?v=1593602092"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/stereophile_bfca101f-22aa-4cbd-b198-9132b7e733ee.png?v=1593602087"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/Axpona-Logo.png?v=1593602084"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/Sound-Vision-logo_ef5598e4-7453-41d0-8fd7-9298fb7787e2.png?v=1593602087"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/awards4-1_1549a0a9-a4e6-4c1b-8b21-af5dc5bc4820.png?v=1593602083"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/TEC_logo_2013_1-1_02367f88-b12f-46f1-abce-734c85b942e1.png?v=1593602093"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/bestofawards2014-featured-1_18c65426-09be-4486-8653-9b3b70e78e15.png?v=1593602092"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/best-of-awards-2017-intro-featured-1_339f914f-6cbe-46d3-8de7-94a937d100be.png?v=1593602091"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/BOA-2017.png?v=1593602090"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/secrets-bestof20162_42b4c751-1fa7-47aa-aaf4-d00941104295.png?v=1593602090"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/secrets-bestof2016_1f2f9c0b-bbb8-4f8b-9f0d-ae48dfd6d06e.png?v=1593602089"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/secrets-bestof2016_1f2f9c0b-bbb8-4f8b-9f0d-ae48dfd6d06e.png?v=1593602089"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/best-of-awards-2017.png?v=1593602089"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/best-of-awards-2013-main-new-1_a5d641d1-c974-4966-ae43-094885204b71.png?v=1593602088"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/logo_192-1_b2db2159-87eb-49a8-8717-dc59c5324c62.png?v=1593602087"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/awards_1-1_e81743d5-28f9-4313-93b3-b95d97cdb0f9.png?v=1593602083"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/awards2-1_ed8aa216-b81f-4772-a034-d96bb72b2a91.png?v=1593602083"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/AVS-Forum-Review-Awards-1_5f190248-6d41-47b1-b96e-2ce51a78b6dd.png?v=1593602082"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/avscedia_95c0f2b3-f946-424d-bc81-6633b62e9ea0.png?v=1593602065"></a>
                            <a href="#"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/av_martindale-hubbell_ce08f2d7-49b2-4fdf-a932-74959c3f53d9.png?v=1593602065"></a>
						</div>
					</div>
				</div> 
			</div>
		</div>
 
<div class="em-hm-pro-art-sec">
	<div class="page-width">
		<div class="em-hm-pro-art-inn">
			<div class="em-hm-pro-art-row">
				<div class="em-hm-pro-art-block">
					<h3 class="em-hm-section-title">Featured Products</h3>
					<div class="em-hm-fea-pro-block">
						<div class="em-hm-fea-pro-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/product-featured-1-sml.png?v=1592307747" /></div>
						<h3>RMC-1</h3>
						<h4>16 Channel 9.1.6 Discreet Dolby Atmos & DTS:X Reference Cinema Processor</h4>
						<p>The RMC-1 is a state-of-the-art surround sound processor - designed from the ground up to serve as the nerve center of a modern home theater or surround sound music system. </p>
						<div class="em-hm-fea-pro-price-rate">
							<p>$4.999.00</p>
							<div class="em-hm-fea-pro-rating"></div>
						</div>
					</div>
					<div class="em-hm-pro-art-block-link">
						<a href="#" class="bl-text-arw-link">All Products</a>
					</div>
				</div>
				<div class="em-hm-pro-art-block">
					<h3 class="em-hm-section-title">Featured Articles</h3>
					<div class="em-hm-fea-art-block">
						<a href="#">
							<div class="em-hm-fea-art-block-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/news-1.jpg?v=1592295847" /></div>
							<div class="em-hm-fea-art-block-cont">
								<h5>Loudspeakers</h5>
								<h3>How to choose the best audio processor?</h3>
								<div class="em-hm-fea-art-block-auth">
									<div class="em-hm-fea-art-auth-info">
										<p><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/auth-img.png?v=1592298000" /> January 6, 2020<br />by John</p>
										<div class="em-hm-fea-art-auth-link"><span class="bl-text-arw-link">Read</span></div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="em-hm-fea-art-block em-hm-fea-art-img-right">
						<a href="#">
							<div class="em-hm-fea-art-block-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/news-2.jpg?v=1592295841" /></div>
							<div class="em-hm-fea-art-block-cont">
								<h5>Press Reviews</h5>
								<h3>XMC-1 Reviewed by The Audio Squad Blog</h3>
								<div class="em-hm-fea-art-block-auth">
									<div class="em-hm-fea-art-auth-info">
										<p><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/auth-img.png?v=1592298000" /> January 21, 2020<br />by John</p>
										<div class="em-hm-fea-art-auth-link"><span class="bl-text-arw-link">Read</span></div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="em-hm-fea-art-block">
						<a href="#">
							<div class="em-hm-fea-art-block-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/news-3-1.jpg?v=1592295832" /></div>
							<div class="em-hm-fea-art-block-cont">
								<h5>News</h5>
								<h3>Processor 101 Class from our Open House 2019!</h3>
								<div class="em-hm-fea-art-block-auth">
									<div class="em-hm-fea-art-auth-info">
										<p><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/auth-img.png?v=1592298000" /> January 6, 2020<br />by John</p>
										<div class="em-hm-fea-art-auth-link"><span class="bl-text-arw-link">Read</span></div>
									</div>
								</div>
							</div>
						</a>
					</div>
					<div class="em-hm-pro-art-block-link">
						<a href="#" class="bl-text-arw-link">All Products</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
    
    
    
    
    <div class="em-hm-fea-main">
	<div class="page-width">
		<div class="em-hm-fea-inn">
			<h3 class="em-hm-section-title">Shop by Feature</h3>
			<div class="em-hm-fea-row">
				<div class="em-hm-fea-block">
					<div class="em-hm-fea-block-inn">
                      	<a href="#" class="em-hm-fea-mob-link"></a>
					    <img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hdmi-logo.jpg?v=1592887103" />
						<div class="em-hm-fea-block-hover">
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hdmi-logo.jpg?v=1592887103" />
							<p>DTS:X is an object-based audio codec, which aims to create a multi-dimensional sound that “moves around you like it would in real life”</p>
							<div class="em-hm-fea-block-hvr-btn"><a href="#" class="em-bl-back-btn">Show Products</a></div>
						</div>
					</div>
				</div>
				<div class="em-hm-fea-block">
					<div class="em-hm-fea-block-inn">
                        <a href="#" class="em-hm-fea-mob-link"></a>
						<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/4k-ult-hd-logo.jpg?v=1593600375" />
						<div class="em-hm-fea-block-hover">
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/4k-ult-hd-logo.jpg?v=1593600375" />
							<p>DTS:X is an object-based audio codec, which aims to create a multi-dimensional sound that “moves around you like it would in real life”</p>
							<div class="em-hm-fea-block-hvr-btn"><a href="#" class="em-bl-back-btn">Show Products</a></div>
						</div>
					</div>
				</div>
				<div class="em-hm-fea-block">
					<div class="em-hm-fea-block-inn">
                        <a href="#" class="em-hm-fea-mob-link"></a>
						<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/velvet-logo.jpg?v=1592887104" />
						<div class="em-hm-fea-block-hover">
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/velvet-logo.jpg?v=1592887104" />
							<p>DTS:X is an object-based audio codec, which aims to create a multi-dimensional sound that “moves around you like it would in real life”</p>
							<div class="em-hm-fea-block-hvr-btn"><a href="#" class="em-bl-back-btn">Show Products</a></div>
						</div>
					</div>
				</div>
				<div class="em-hm-fea-block">
					<div class="em-hm-fea-block-inn">
                        <a href="#" class="em-hm-fea-mob-link"></a>
						<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/dolby-logo.jpg?v=1592887102" />
						<div class="em-hm-fea-block-hover">
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/dolby-logo.jpg?v=1592887102" />
							<p>DTS:X is an object-based audio codec, which aims to create a multi-dimensional sound that “moves around you like it would in real life”</p>
							<div class="em-hm-fea-block-hvr-btn"><a href="#" class="em-bl-back-btn">Show Products</a></div>
						</div>
					</div>
				</div>
				<div class="em-hm-fea-block">
					<div class="em-hm-fea-block-inn">
                        <a href="#" class="em-hm-fea-mob-link"></a>
						<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/doloby-atom-logo.jpg?v=1592887102" />
						<div class="em-hm-fea-block-hover">
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/doloby-atom-logo.jpg?v=1592887102" />
							<p>DTS:X is an object-based audio codec, which aims to create a multi-dimensional sound that “moves around you like it would in real life”</p>
							<div class="em-hm-fea-block-hvr-btn"><a href="#" class="em-bl-back-btn">Show Products</a></div>
						</div>
					</div>
				</div>
				<div class="em-hm-fea-block">
					<div class="em-hm-fea-block-inn">
                        <a href="#" class="em-hm-fea-mob-link"></a>
						<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/dirac-logo.jpg?v=1592887102" />
						<div class="em-hm-fea-block-hover">
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/dirac-logo.jpg?v=1592887102" />
							<p>DTS:X is an object-based audio codec, which aims to create a multi-dimensional sound that “moves around you like it would in real life”</p>
							<div class="em-hm-fea-block-hvr-btn"><a href="#" class="em-bl-back-btn">Show Products</a></div>
						</div>
					</div>
				</div>
				<div class="em-hm-fea-block">
					<div class="em-hm-fea-block-inn">
                        <a href="#" class="em-hm-fea-mob-link"></a>
						<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/logo-916.jpg?v=1592887104" />
						<div class="em-hm-fea-block-hover">
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/logo-916.jpg?v=1592887104" />
							<p>DTS:X is an object-based audio codec, which aims to create a multi-dimensional sound that “moves around you like it would in real life”</p>
							<div class="em-hm-fea-block-hvr-btn"><a href="#" class="em-bl-back-btn">Show Products</a></div>
						</div>
					</div>
				</div>
				<div class="em-hm-fea-block">
					<div class="em-hm-fea-block-inn">
                        <a href="#" class="em-hm-fea-mob-link"></a>
						<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/live-ab-logo.jpg?v=1592887103" />
						<div class="em-hm-fea-block-hover">
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/live-ab-logo.jpg?v=1592887103" />
							<p>DTS:X is an object-based audio codec, which aims to create a multi-dimensional sound that “moves around you like it would in real life”</p>
							<div class="em-hm-fea-block-hvr-btn"><a href="#" class="em-bl-back-btn">Show Products</a></div>
						</div>
					</div>
				</div>
              <div class="em-hm-fea-block">
					<div class="em-hm-fea-block-inn">
                        <a href="#" class="em-hm-fea-mob-link"></a>
						<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/logo-444.jpg?v=1592887104" />
						<div class="em-hm-fea-block-hover">
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/logo-444.jpg?v=1592887104" />
							<p>DTS:X is an object-based audio codec, which aims to create a multi-dimensional sound that “moves around you like it would in real life”</p>
							<div class="em-hm-fea-block-hvr-btn"><a href="#" class="em-bl-back-btn">Show Products</a></div>
						</div>
					</div>
				</div>
              <div class="em-hm-fea-block">
					<div class="em-hm-fea-block-inn">
                        <a href="#" class="em-hm-fea-mob-link"></a>
						<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/dts-logo.jpg?v=1592887103" />
						<div class="em-hm-fea-block-hover">
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/dts-logo.jpg?v=1592887103" />
							<p>DTS:X is an object-based audio codec, which aims to create a multi-dimensional sound that “moves around you like it would in real life”</p>
							<div class="em-hm-fea-block-hvr-btn"><a href="#" class="em-bl-back-btn">Show Products</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="em-hm-shop-srs-main">
	<div class="page-width">
		<div class="em-hm-shop-srs-inn">
			<h3 class="em-hm-section-title">Shop by Series</h3>
			<div class="em-hm-shop-srs-row">
				<div class="em-hm-shop-srs-block">
					<div class="em-hm-shop-srs-box">
						<div class="em-hm-shop-srs-box-img">
							<h3>X Series</h3>
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/x-series-img.png?v=1592370533" />
						</div>
						<p>Our finest line of products - audiophile music and home theater components that take on the best without breaking your budget.</p>
						<div class="em-hm-shop-srs-box-btn"><a href="#" class="em-bl-back-btn">Explore Products</a></div>
					</div>
				</div>
				<div class="em-hm-shop-srs-block">
					<div class="em-hm-shop-srs-box">
						<div class="em-hm-shop-srs-box-img">
							<h3>Airmotive Series</h3>
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/airmotive-series-img.png?v=1592370523" />
						</div>
						<p>Airmotiv Speakers combines meticulous design, extensive testing, and in-depth listening tests with a wide variety of musical material.</p>
						<div class="em-hm-shop-srs-box-btn"><a href="#" class="em-bl-back-btn">Explore Products</a></div>
					</div>
				</div>
				<div class="em-hm-shop-srs-block">
					<div class="em-hm-shop-srs-box">
						<div class="em-hm-shop-srs-box-img">
							<h3>BasX Series</h3>
							<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/bas-x-series.png?v=1592370532" />
						</div>
						<p>Excellent sound quality, all the most useful and essential features, and rock-solid performance for a lifetime.</p>
						<div class="em-hm-shop-srs-box-btn"><a href="#" class="em-bl-back-btn">Explore Products</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>    
    
    
    
    
    
    

<div class="em-hm-newsletter-sec">
	<div class="page-width">
		<div class="em-hm-newsletter-inn" style="background-image: url('https://cdn.shopify.com/s/files/1/2572/6926/files/Group.jpg?v=1592375564');">
          <div class="em-hm-newsletter-inn-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/mob-newsletter-img.jpg?v=1592471646" /></div>
			<div class="em-hm-newsletter-block">
				<h3>Become part of the community</h3>
				<p>Sign up for out newsletter and receive the latest news first. Stay in the know and get the latest promotions and product announcements.</p>
				<div class="em-hm-newsletter-block-form"><!--form here--></div>
				<div class="em-hm-newsletter-data-txt">We will never ever sell your data!</div>
			</div>
		</div>
	</div>
</div>
    
    
    
    
    
<div class="em-satisfaction-gray-bar">
	<div class="em-satisfaction-gray-bar-inn">
		<h3>Satisfaction Guaranteed</h3>
		<div class="em-satisfaction-gray-row">
			<div class="em-satisfaction-gray-blk">
				<p><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/bar-blk-icon-1.png?v=1592373879" /> Bespoke high-end<br /> audio quality</p>
			</div>
			<div class="em-satisfaction-gray-blk">
				<p><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/bar-blk-icon-2.png?v=1592373879" /> Direct to consumer, no<br /> retail markups</p>
			</div>
			<div class="em-satisfaction-gray-blk">
				<p><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/bar-blk-icon-3.png?v=1592373879" /> 5 years transferrable<br /> warranty</p>
			</div>
			<div class="em-satisfaction-gray-blk">
				<p><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/bar-blk-icon-4.png?v=1592373879" /> Upgrade Gear with our<br /> Trade-In Program</p>
			</div>
		</div>
	</div>
</div>
{%endcomment%}