<div class="page-width em-pro-manual-temp">
	<div class="em-inner-sidebar-pg">
		<div class="em-inner-sidebar-left">
			<div class="em-inner-sidebar-sec">
                <h3 class="em-inner-sidebar-left-title">Resources</h3>
                <ul class="em-inner-sidebar-link-list">
                    <li><a class="active" href="#">Product Manuals</a></li>
                    <li><a href="#">Firmware Downloads</a></li>
                    <li><a href="#">Video Guides</a></li>
                </ul>
            </div>
		</div>
		<div class="em-inner-sidebar-cont-right">
			<div class="em-inner-sidebar-cont-inn">
				<div class="em-inner-sidebar-cont-block">
					<h2 class="em-inner-sidebar-cont-title">Learn how to set up and use Emotiva products</h2>
					<div class="em-res-video-link-list-sec">
                      <ul class="em-res-video-link-list">
                          <li>
                              <div class="em-res-video-block">
                                  <div class="em-res-video-block-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/video-1-img.jpg?v=1593066650" /></div>
                                  <div class="em-res-video-block-cont">
                                      <h3>The Emotiva XPS-1 Phono Preamplifier Tutorials</h3>
                                      <p>10:33</p>
                                      <div class="em-res-video-block-vid-play"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/icon-play_aa21a522-fc2d-45fa-9d49-1505e8176618.png?v=1593066667" /></div>
                                  </div>
                              </div>
                          </li>
                        <li>
                              <div class="em-res-video-block">
                                  <div class="em-res-video-block-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/video-1-img.jpg?v=1593066650" /></div>
                                  <div class="em-res-video-block-cont">
                                      <h3>The Emotiva XPS-1 Phono Preamplifier Tutorials</h3>
                                      <p>10:33</p>
                                      <div class="em-res-video-block-vid-play"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/icon-play_aa21a522-fc2d-45fa-9d49-1505e8176618.png?v=1593066667" /></div>
                                  </div>
                              </div>
                          </li>
                        <li>
                              <div class="em-res-video-block">
                                  <div class="em-res-video-block-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/video-1-img.jpg?v=1593066650" /></div>
                                  <div class="em-res-video-block-cont">
                                      <h3>The Emotiva XPS-1 Phono Preamplifier Tutorials</h3>
                                      <p>10:33</p>
                                      <div class="em-res-video-block-vid-play"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/icon-play_aa21a522-fc2d-45fa-9d49-1505e8176618.png?v=1593066667" /></div>
                                  </div>
                              </div>
                          </li>
                        <li>
                              <div class="em-res-video-block">
                                  <div class="em-res-video-block-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/video-1-img.jpg?v=1593066650" /></div>
                                  <div class="em-res-video-block-cont">
                                      <h3>The Emotiva XPS-1 Phono Preamplifier Tutorials</h3>
                                      <p>10:33</p>
                                      <div class="em-res-video-block-vid-play"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/icon-play_aa21a522-fc2d-45fa-9d49-1505e8176618.png?v=1593066667" /></div>
                                  </div>
                              </div>
                          </li>
                        <li>
                              <div class="em-res-video-block">
                                  <div class="em-res-video-block-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/video-1-img.jpg?v=1593066650" /></div>
                                  <div class="em-res-video-block-cont">
                                      <h3>The Emotiva XPS-1 Phono Preamplifier Tutorials</h3>
                                      <p>10:33</p>
                                      <div class="em-res-video-block-vid-play"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/icon-play_aa21a522-fc2d-45fa-9d49-1505e8176618.png?v=1593066667" /></div>
                                  </div>
                              </div>
                          </li>
                        <li>
                              <div class="em-res-video-block">
                                  <div class="em-res-video-block-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/video-1-img.jpg?v=1593066650" /></div>
                                  <div class="em-res-video-block-cont">
                                      <h3>The Emotiva XPS-1 Phono Preamplifier Tutorials</h3>
                                      <p>10:33</p>
                                      <div class="em-res-video-block-vid-play"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/icon-play_aa21a522-fc2d-45fa-9d49-1505e8176618.png?v=1593066667" /></div>
                                  </div>
                              </div>
                          </li>
                        <li>
                              <div class="em-res-video-block">
                                  <div class="em-res-video-block-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/video-1-img.jpg?v=1593066650" /></div>
                                  <div class="em-res-video-block-cont">
                                      <h3>The Emotiva XPS-1 Phono Preamplifier Tutorials</h3>
                                      <p>10:33</p>
                                      <div class="em-res-video-block-vid-play"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/icon-play_aa21a522-fc2d-45fa-9d49-1505e8176618.png?v=1593066667" /></div>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
				</div>			  			  
			</div>
		</div>
	</div>
</div>
