<div class="page-width">
	<div class="em-aboutus-pg-top">
		<div class="em-aboutus-pg-top-title">
			<h2>We’re reinventing audio and home theater <br />— just for you</h2>
			<h5>When Emotiva started, we had one goal: to offer exceptionally designed, high performance products at prices that more people could afford and enjoy.</h5>
		</div>
		<div class="em-aboutus-pg-top-row">
			<div class="em-aboutus-pg-top-block">
				<div class="em-aboutus-pg-top-cont">
					<p>Emotiva asked a simple question: “Why can’t we have amazing audio and video sound at prices that don’t threaten our mortgage?”As high-end audio chased an ever-shrinking market with ever-more-costly gear, the price of sonic nirvana shot out of reach. New enthusiasts shook their heads and thought, “You know, a soundbar and a receiver may not be that bad.”</p>
					<p>At the same time high-end audio prices were climbing, Dan Laufman and his team were helping some of the best names in audio manufacture their gear. Dan saw the inefficiencies in the system and the ever-climbing prices, and decided to do something about it.</p>
					<p>The result is Emotiva.</p>
				</div>
			</div>
			<div class="em-aboutus-pg-top-block">
				<div class="em-aboutus-pg-top-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/about-main-img.jpg?v=1592558471" /></div>
			</div>
		</div>
	</div>
	<div class="abt-us-gray-lined-block">
		<div class="abt-us-gray-lined-inn">
			<div class="abt-us-gray-lined-top">
				<h5>Meet our team</h5>
				<h2>We're just like you</h2>				
			</div>
			<div class="abt-us-gray-lined-bot">
              <div class="abt-us-gray-lined-bot-img"><div class="abt-us-gray-lined-img-box"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/abt-us-like-img.jpg?v=1592558473" /></div></div>
				<div class="abt-us-gray-lined-bot-cont">
					<p>Emotiva is comprised of true audio enthusiasts, engineers, and product specialists. We run a lean organization without excess overhead and redundant levels of management. Everyone in the company, from the engineering team, to the manufacturing group, to the support staff, has your ultimate home entertainment experience in mind.</p>
					<p>This is what makes Emotiva different from many other home entertainment manufacturers. </p>
					<p>Our people are passionate enthusiasts who enjoy the experience of using Emotiva products equally as much as designing and building them!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="abt-us-award-main">
		<h5>Awards</h5>
		<h2>Over the years, we collected some...</h2>
		<ul>
			<li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
          <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
          <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
          <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
          <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
          <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
          <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
          <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
          <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
          <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
          <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
          <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
          <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
          <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
          <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/hi-finews-logo.jpg?v=1592558487" /></li>
		</ul>
	</div>
</div>