<div class="em-series-pg-main">
	<div class="page-width">
		<div class="em-series-pg-top-block">
			<h4 class="em-lr-lined-title"><span>Emotiva x-series</span></h4>
			<h2>Exceptional electronics for the discerning listener.</h2>
			<p>Our finest line of products - audiophile music and home theater components that take on the best without breaking your budget.</p>
			<div class="em-series-pg-top-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/series-hero-xseries.png?v=1592545695" /></div>
		</div>
		<div class="em-series-gray-lined-main">
			<div class="em-series-gray-lined-inn">
				<div class="em-series-gray-lined-top">
					<h3>The highest level of excellence in home theater and audio.</h3>
					<div class="em-series-gray-lined-row">
						<div class="em-series-gray-lined-text">
							<p>When we set out to create the X Series line, we started by analyzing every component of our previous products, from front to back and inside out, based on our years of experience and all of the advances in audio technology since we began, to see what inspiring new ideas and opportunities for improvement we could find.</p>
						</div>
						<div class="em-series-gray-lined-text">
							<p>Based on this extensive research, we’ve made some exciting changes to our amazing originals, and the result, ladies and gentlemen, is the Emotiva X Series. Today’s high-resolution audio sources place more demands than ever before on electronics, source components, and loudspeakers, but our X Series products are designed to make all of your high-quality source material sound its absolute best.</p>
						</div>
					</div>								
					<div class="em-series-gray-lined-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/concert-hall.jpg?v=1592545693" /></div>
				</div>
			</div>
		</div>
		<div class="em-series-fea-main">
			<div class="em-series-fea-inn">
				<div class="em-series-fea-row">
					<div class="em-series-fea-block">
						<div class="em-series-fea-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/picto-audiophile.png?v=1592545960" /></div>
						<h3>True Audiophile Sound Quality</h3>
						<p>Pure Class A/B Output Stages deliver true audiophile sound quality</p>
					</div>
					<div class="em-series-fea-block">
						<div class="em-series-fea-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/picto-optimized-design.png?v=1592545961" /></div>
						<h3>Highly Optimized Thermal Designs</h3>
						<p>Soft Switch™ Class H power supply topology enables our X Series amps to operate at higher efficiency than previous designs, reducing heat and extending component life significantly.</p>
					</div>
					<div class="em-series-fea-block">
						<div class="em-series-fea-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/picto-3kw-power.png?v=1592545958" /></div>
						<h3>3kW Power Supply</h3>
						<p>Our powerful 3 kW switch mode power supply (SMPS) is far more efficient than older designs, weighs less, and is regulated - something previously only dreamed of in power amps.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="em-series-performence-main">
			<h3>Perfectly Suited for Outstanding Performance</h3>
			<div class="em-series-performence-row">
				<div class="em-series-performence-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/series-feats-1.jpg?v=1592545673" /></div>
				<div class="em-series-performence-text">
                  <div class="em-series-performence-text-inn">
					<p>High-resolution audio demands more of your system than ever before, and our X Series components are up to the challenge.</p>
					<p>Make the most of your collection and discover the subtle details you’ve been missing in your favorite performances and albums. Our X Series components are optimized to work together seamlessly and deliver the highest level of performance with all of your audio sources - CD players, turntables, cable boxes, gaming systems, DACs, and more.</p>
                  </div>
				</div>
			</div>
			<div class="em-series-performence-row">
				<div class="em-series-performence-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/series-feats-2.jpg?v=1592545682" /></div>
				<div class="em-series-performence-text">
                  <div class="em-series-performence-text-inn">
					<p>The X Series consistently delivers a level of sound quality that matches the high quality of modern digital files, as well as breathing new life into your analog media. Our DACs enable you to hear the most subtle details in your high-resolution music with stunning clarity, and help even streaming audio sound the best it possibly can, and our precision low-noise phono preamps are perfect for connecting a turntable to any product equipped with aline-level RCA input.</p>
                  </div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="em-series-pg-main-2">
	<div class="em-series-power-block">
		<img src="https://cdn.shopify.com/s/files/1/2572/6926/files/series-power-efficiency-bg.jpg?v=1592545700" />
		<div class="em-series-power-text-layer">
			<h3>High Power, High Efficiency, High Fidelity</h3>
			<div class="em-series-power-text-row">
				<div class="em-series-power-text-box"><p>The Emotiva X Series is designed with no compromises, and built to exacting standards, to consistently and efficiently produce high-powered, high-fidelity sound. No waste, no noise, no distortion - just pure sound, exactly how it’s meant to be.</p></div>
				<div class="em-series-power-text-box"><p>With Emotiva, every sound, note, and instrument is separated and clearly defined, and the deep bass you didn’t even know was there reverberates within you. Our products get out of the way of the sound, letting you rediscover and reconnect with your collection on an emotional level not possible with lesser systems.</p></div>
			</div>
		</div>
	</div>
	<div class="em-series-range-sec">
		<div class="page-width">
			<h3 class="em-series-range-title">The X-series Range</h3>
			<div class="em-series-range-white-blk">
				<div class="em-series-range-white-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/series-product-placeholder-1.png?v=1592545679" /></div>
				<div class="em-series-range-white-cont">
					<h3>XPA DR-2</h3>
					<h5>Differential Reference™ Two-Channel Power Amplifier</h5>
					<p>The XPA-DR2 is a very high-powered, fully differential, two-channel audiophile power amplifier. The XPA-DR2 delivers 550 watts RMS into 8 Ohms, and 800 watts RMS into 4 Ohms, per channel, and is the ideal choice to power a no-holds-barred stereo music system, or to power the critical front left and right channels of an absolutely awesome surround sound system.</p>
					<div class="em-series-range-cont-prc-rate">
						<div class="em-series-range-cont-price">$1,799.00</div>
					</div>
					<div class="em-series-range-cont-btn"><a href="#" class="em-bl-back-btn">Explore</a></div>
				</div>
			</div>
			<div class="em-series-range-white-blk">
				<div class="em-series-range-white-cont-logo em-series-range-white-logo-mob">
                  <ul>
                    <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/dtx-logo.jpg?v=1592546336" /></li>
                    <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/dloby-img.jpg?v=1592546336" /></li>
                  </ul>					
                </div>
                <div class="em-series-range-white-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/series-product-placeholder-2.png?v=1592545679" /></div>
				<div class="em-series-range-white-cont">
					<div class="em-series-range-white-cont-logo em-series-range-white-logo-desk">
						<ul>
							<li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/dtx-logo.jpg?v=1592546336" /></li>
							<li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/dloby-img.jpg?v=1592546336" /></li>
						</ul>					
					</div>
					<h3>XPA-11 Gen3</h3>
					<h5>11 Channel Audiophile Home Theater Power Amplifier</h5>
					<p>The XPA-11 Gen3 is the perfect choice for powering a high end Dolby Atmos or DTS-X surround sound system, or any system with height channels. The XPA-11 provides three high-powered channels to run your critical front speakers, and eight lower-powered channels to power your surround and height channels.</p>
					<div class="em-series-range-cont-prc-rate">
						<div class="em-series-range-cont-price">$2,098.00</div>
					</div>
					<div class="em-series-range-cont-btn"><a href="#" class="em-bl-back-btn">Explore</a></div>
				</div>
			</div>
			<div class="em-series-range-white-blk">
				<div class="em-series-range-white-cont-logo em-series-range-white-logo-mob">
                  <ul>
                    <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/dtx-logo.jpg?v=1592546336" /></li>
                    <li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/dloby-img.jpg?v=1592546336" /></li>
                  </ul>					
                </div>
                <div class="em-series-range-white-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/series-product-placeholder-3.png?v=1592545684" /></div>
				<div class="em-series-range-white-cont">
					<div class="em-series-range-white-cont-logo em-series-range-white-logo-desk">
						<ul>
							<li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/dtx-logo.jpg?v=1592546336" /></li>
							<li><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/dloby-img.jpg?v=1592546336" /></li>
						</ul>					
					</div>
					<h3>RMC-1</h3>
					<h5>16 Channel Dolby Atmos & DTS:X Cinema Processor</h5>
					<p>The RMC-1 is a state-of-the-art surround sound processor - designed from the ground up to serve as the nerve center of a modern home theater or surround sound music system. The bit-perfect video switches in the RMC-1 ensure that you’ll get the best possible image quality from the latest HDR and Dolby Vision 4k UHD discs, and the advanced audio decoding engine, audio processing hardware, and room correction options guarantee you true audiophile sound quality and performance.</p>
					<div class="em-series-range-cont-prc-rate">
						<div class="em-series-range-cont-price">$1,799.00</div>
					</div>
					<div class="em-series-range-cont-btn"><a href="#" class="em-bl-back-btn">Explore</a></div>
				</div>
			</div>
			<div class="em-series-range-sec-btn"><a href="#" class="em-bl-lined-btn">Explore</a></div>
		</div>
	</div>
</div>