<div class="page-width em-pro-manual-temp">
	<div class="em-inner-sidebar-pg">
		<div class="em-inner-sidebar-left">
			<div class="em-inner-sidebar-sec">
                <h3 class="em-inner-sidebar-left-title">Support</h3>
                <ul class="em-inner-sidebar-link-list">
                    <li><a class="" href="#">Order updates & tracking</a></li>
                    <li><a href="#">Warranty information</a></li>
                    <li><a href="#">Service & Repair</a></li>
                </ul>
            </div>
		</div>
		<div class="em-inner-sidebar-cont-right">
			<div class="em-inner-sidebar-cont-inn">
				<div class="em-inner-sidebar-cont-block">
					<h2 class="em-inner-sidebar-cont-title">Warranty Information</h2>
					<div class="em-inner-sidebar-cont-accr">
						<div id="accordionBilling">
							<h3>What does this warranty cover?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
							<h3>How long does this coverage last?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
							<h3>What will Emotiva do?</h3>
							<div>
								<p>What if my unit is out of Warranty?</p>
                                <ol>
                                    <li>repair the product, or </li>
                                    <li>replace the product with a new consumer product which is identical or reasonably equivalent (in Warrantor’s sole discretion) to the product. </li>
                                </ol>
                                <p>In the event Warrantor is unable to provide replacement and repair is (in Emotiva’s sole discretion) not commercially practicable or cannot (in Emotiva’s sole discretion) be timely made, then:</p>
                                <ol>
                                    <li>if the claim was submitted during the first 365 days of the Term, Warrantor shall refund to you the purchase price that you paid for the product; and </li>
                                    <li>if the claim was submitted after the first 365 days of the Term, Emotiva shall issue you a credit equal to the remaining duration of the warranty (prorated). The credit can only be used for the purchase of merchandise and cannot be used for freight/shipping.</li>
                                </ol>
							</div>
							<h3>What is not covered by this warranty?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
							<h3>How do I transfer the warranty?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
							<h3>How do I look up the warranty?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
							<h3>What if my unit is out of Warranty?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
						</div>
					</div>
				</div>
				<div class="em-nt-sure-lined-box">
				  <div class="em-nt-sure-lined-inn">
					  <h3 class="em-nt-sure-lined-title-desk">Not sure what kind of product is for you?</h3>
                      <h3 class="em-nt-sure-lined-title-mob">Still need help?</h3>
					  <p>Start a chat or call us. We'll be glad to help!</p>
					  <div class="em-nt-sure-lined-btn">
						  <a href="#" class="em-bl-back-btn">Live chat</a>
						  <a class="em-nt-sure-contact-link">1-615-790-6754</a>
					  </div>
					  <div class="em-nt-sure-lined-box-img">
                        <img src="https://cdn.shopify.com/s/files/1/2572/6926/files/not-sure-box-img.png?v=1592970646" />
                      </div>
				  </div>
				</div>			  			  
			</div>
		</div>
	</div>
</div>
