<div class="page-width">
	<div class="em-inner-sidebar-pg">
		<div class="em-inner-sidebar-left">
			{%include "page-sidebar"%}
		</div>
		<div class="em-inner-sidebar-cont-right">
			<div class="em-inner-sidebar-cont-inn">
				<div class="em-inner-sidebar-cont-block">
					<h2 class="em-inner-sidebar-cont-title">Shipping in the USA</h2>
					<div class="em-inner-sidebar-cont-accr">
						<div id="accordionBilling">
							<h3>How much is shipping?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
							<h3>Where do you ship to?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
							<h3>Where do you ship free?</h3>
							<div>
								<p>We ship free within the contiguous 48 states for all products. Additional shipping charges apply to Alaska, Hawaii, US territories, APO, and FPO addresses. Shipping options and delivery estimates are available at checkout.</p>
							</div>
							<h3>How quickly are orders shipped?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
							<h3>How long will it take to receive my shipment in the USA?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
							<h3>Will I be able to track my shipment?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
							<h3>Am I required to sign for my UPS package?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
						</div>
					</div>
				</div>
				<div class="em-inner-sidebar-cont-block">
					<h2 class="em-inner-sidebar-cont-title">International Orders</h2>
					<div class="em-inner-sidebar-cont-accr">
						<div id="accordionOrder">
							<h3>Do you ship worldwide?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
							<h3>Do you ship free to Canada?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
							<h3>What about shipping?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
							<h3>What is the international return policy?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
							<h3>What about international service?</h3>
							<div>
								<p>Lorem Ipsum</p>
							</div>
						</div>
					</div>
				</div>
				<div class="em-nt-sure-lined-box">
				  <div class="em-nt-sure-lined-inn">
					  <h3 class="em-nt-sure-lined-title-desk">Not sure what kind of product is for you?</h3>
                      <h3 class="em-nt-sure-lined-title-mob">Still need help?</h3>
					  <p>Start a chat or call us. We'll be glad to help!</p>
					  <div class="em-nt-sure-lined-btn">
						  <a href="#" class="em-bl-back-btn">Live chat</a>
						  <a class="em-nt-sure-contact-link">1-615-790-6754</a>
					  </div>
					  <div class="em-nt-sure-lined-box-img">
                        <img src="https://cdn.shopify.com/s/files/1/2572/6926/files/not-sure-box-img.png?v=1592970646" />
                      </div>
				  </div>
				</div>			  			  
			</div>
		</div>
	</div>
</div>
