<div class="page-width">
	<div class="contact-pg-main-sec">
		<h3 class="inr-page-main-title">Customer Help</h3>
		<p class="inr-page-sub-title">Have questions? We have all the answers.</p>
		<div class="gray-back-block-row">
			<div class="gray-back-block-box">
				<div class="contact-pg-info-block">
					<div class="contact-pg-info-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/picto-faq.png?v=1592565435" /></div>
					<h3>General FAQ</h3>
					<p>Not sure how to make payment or where to buy Emotiva products. We have all the answers.</p> 
                  <h5>How we handle shipping and returns, check <a href="#">Shipping Policy</a> and <a href="#">Returns Policy</a>.</h5>
					<div class="contact-pg-info-btn"><a href="#" class="em-bl-back-btn">Read FAQ</a></div>
				</div>
			</div>
			<div class="gray-back-block-box">
				<div class="contact-pg-info-block">
					<div class="contact-pg-info-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/picto-rewards.png?v=1592565435" /></div>
					<h3>Reward Credit</h3>
					<p>Collect Reward credit points with every purchase and spend on future purchases or upgrades.</p> 
					<h5></h5>
					<div class="contact-pg-info-btn"><a href="#" class="em-bl-back-btn">Learn more</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="contact-layered-cont-sec" style="background-image: url('https://cdn.shopify.com/s/files/1/2572/6926/files/lounge-bg.jpg?v=1592562309');">
		<div class="contact-layered-cont-upr">
          <h3>Get help in the Emotiva Lounge</h3>
			<p>Emotiva Community connects you with other owners and product experts. Get help, product tips and tricks. Or, see how others are using our products. Ask questions — and share your own experiences.</p>
			<div class="contact-layered-cont-btn"><a href="#" class="em-bl-back-btn">Go to Emotiva Lounge</a></div>
		</div>
	</div>
</div>




<div class="page-width">
	<div class="contact-pg-main-sec">
		<h3 class="inr-page-main-title">How can we help you?</h3>
		<p class="inr-page-sub-title">Get product help, track your order or register your new Emotiva product.</p>
		<div class="gray-back-block-row gray-back-block-row-3 em-how-help-pg-sec">
			<div class="gray-back-block-box">
				<div class="contact-pg-info-block">
					<div class="contact-pg-info-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/picto-order-tracking.png?v=1592636968" /></div>
					<h3>Order updates & tracking</h3>
					<p>Track your order or get updates on service requests.</p> 
                    <h5></h5>
					<div class="contact-pg-info-btn"><a href="#" class="em-bl-back-btn">Track your order</a></div>
				</div>
			</div>
			<div class="gray-back-block-box">
				<div class="contact-pg-info-block">
					<div class="contact-pg-info-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/picto-support_527d5bcf-fab7-463d-a3dc-aa30844f6150.png?v=1592636968" /></div>
					<h3>Product support</h3>
					<p>Need help with Emotiva product - setting it up or operating.</p> 
					<h5></h5>
					<div class="contact-pg-info-btn"><a href="#" class="em-bl-back-btn">Start live chat</a></div>
				</div>
			</div>
			<div class="gray-back-block-box">
				<div class="contact-pg-info-block">
					<div class="contact-pg-info-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/picto-service.png?v=1592636968" /></div>
					<h3>Service & repair</h3>
					<p>Our goal is to provide you with exceptional service for your Emotiva products. Let us help.</p> 
					<h5><a href="#">See warranty information</a></h5>
					<div class="contact-pg-info-btn"><a href="#" class="em-bl-back-btn">Get started</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="contact-layered-cont-sec" style="background-image: url('https://cdn.shopify.com/s/files/1/2572/6926/files/lounge-bg.jpg?v=1592562309');">
		<div class="contact-layered-cont-upr">
          <h3>Get help in the Emotiva Lounge</h3>
			<p>Emotiva Community connects you with other owners and product experts. Get help, product tips and tricks. Or, see how others are using our products. Ask questions — and share your own experiences.</p>
			<div class="contact-layered-cont-btn"><a href="#" class="em-bl-back-btn">Go to Emotiva Lounge</a></div>
		</div>
	</div>
	<div class="em-cc-bot-line-link"><p>Couldn’t find what you are looking for? <a href="#">Contact us and we’ll help</a>.</p></div>
</div>