<div class="page-width">
  <div class="em-career-pg-main">
      <div class="em-career-pg-title-sec">
          <h1>Careers</h1>
          <p>Love music? Want to join a group of likeminded people and help others enjoy the best sound? You’re in the right place.</p>
      </div>
      <div class="em-career-pg-fea-main">
          <h3 class="em-career-pg-fea-title">What you can expect</h3>
          <div class="em-career-pg-fea-row">
              <div class="em-career-pg-fea-block">
                  <div class="em-career-pg-fea-box">
                      <div class="em-career-pg-fea-box-icon">
                          <?xml version="1.0" encoding="UTF-8"?>
                          <svg width="38px" height="35px" viewBox="0 0 38 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>A22FCDD0-9128-41CB-8A78-B4DD69AC5B63@1x</title>
                              <g id="emotiva" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g id="careers1" transform="translate(-1196.000000, -500.000000)" fill-rule="nonzero" stroke="#000000">
                                      <g id="picto-order-tracking-copy-2" transform="translate(1197.000000, 502.000000)">
                                          <path d="M17.4543158,8.42383423 L17.4323907,0 L6.81499303,0.0307112291 C6.81499303,0.0102370764 4.67722342,2.81818182 0.401684211,8.45454545" id="Path" stroke-width="3.2"></path>
                                          <path d="M35.4543158,8.42511386 C30.8778443,2.80837129 28.5896086,0 28.5896086,0 L16.5069474,0.0307112291" id="Path" stroke-width="3.2"></path>
                                          <path d="M35.0355789,8.97168182 L19.2704211,9.02240909 L16.7139474,9.02240909 L0.947368421,9.05622727 L0.947368421,28.1761818 C0.947368421,29.7346364 2.22347368,30.9971818 3.79515789,30.9943683 L16.9512632,30.9661818 L32.202,30.9943683 C33.7751053,30.9971818 35.0512105,29.7332273 35.0497907,28.1733636 L35.0355789,8.97168182 Z M28.8947368,23.8371212 C28.8947368,24.4204848 28.4172632,24.8939394 27.8289474,24.8939394 L18.5921053,24.8939394 C18.0037895,24.8939394 17.5263158,24.4204848 17.5263158,23.8371212 L17.5263158,18.905303 C17.5263158,18.3219394 18.0037895,17.8484848 18.5921053,17.8484848 L27.8289474,17.8484848 C28.4172632,17.8484848 28.8947368,18.3219394 28.8947368,18.905303 L28.8947368,23.8371212 Z" id="Shape" stroke-width="3.5"></path>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                      </div>
                      <h3 class="em-career-pg-fea-box-title">Work with motivated, knowledgable team</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis ornare felis.</p>
                  </div>
              </div>
              <div class="em-career-pg-fea-block">
                  <div class="em-career-pg-fea-box">
                      <div class="em-career-pg-fea-box-icon">
                          <?xml version="1.0" encoding="UTF-8"?>
                          <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>E40ED571-769F-40C5-B13A-63E194CB19ED@1x</title>
                              <g id="emotiva" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g id="careers1" transform="translate(-918.000000, -497.000000)" fill="#000000" fill-rule="nonzero">
                                      <g id="picto-support-copy" transform="translate(918.000000, 497.000000)">
                                          <path d="M39.6627435,13.7662338 C39.1469155,12.2410714 37.9074675,11.2800324 36.8137175,10.4314124 C36.2293019,9.97849029 35.6773539,9.55032468 35.3583604,9.13068177 C35.0332792,8.70251626 34.7763798,8.06331169 34.5048701,7.38595782 C34.0020292,6.1335227 33.4310065,4.71469153 32.1099838,3.79301943 C30.8169643,2.88961039 29.2585227,2.80560062 27.8835227,2.73336042 C27.1107954,2.69155844 26.3806818,2.6525974 25.8246753,2.4788961 C25.3153409,2.32102275 24.7268669,1.95373382 24.1043019,1.56452925 C22.9306006,0.831574649 21.5998377,0.00121753766 19.9484578,0.00121753766 C18.2962662,0.00121753766 16.9671266,0.831574649 15.794237,1.56452925 C15.1708604,1.95373382 14.583198,2.32021101 14.0730519,2.47970784 C13.5178571,2.6525974 12.7869318,2.69155844 12.0133928,2.73336042 C10.6392046,2.807224 9.08157465,2.88961039 7.78693184,3.79301943 C6.46672083,4.71469153 5.89650971,6.1335227 5.39285714,7.38514608 C5.12134743,8.06249995 4.86363636,8.70251626 4.53774348,9.13230525 C4.21875003,9.55275969 3.66680197,9.9809253 3.08157465,10.4338474 C1.99025974,11.2816559 0.750811636,12.2418831 0.235795429,13.7654221 C-0.266233766,15.2463474 0.136769455,16.7086038 0.492288935,17.9983766 C0.690340883,18.7167208 0.877435013,19.3940747 0.877435013,19.9492695 C0.877435013,20.5052759 0.690340883,21.1826298 0.492288935,21.9017858 C0.136769455,23.1907468 -0.26542213,24.6525974 0.235795429,26.1347403 C0.751623377,27.6582793 1.99025974,28.6181007 3.08319803,29.4659091 C3.66761361,29.919237 4.21956166,30.3469968 4.53855522,30.7666396 C4.86363636,31.1956168 5.12053569,31.8348214 5.39285714,32.512987 C5.89569808,33.7658279 6.46753247,35.1846591 7.78936686,36.1079545 C9.08238639,37.0097403 10.6392046,37.0929383 12.0133928,37.1651786 C12.7869318,37.2065746 13.5178571,37.2459416 14.0730519,37.4188312 C14.5823864,37.5775163 15.1700487,37.9448052 15.791802,38.3336039 C16.9655033,39.0669643 18.2962662,39.8973215 19.9484578,39.8973215 C21.6006494,39.8973215 22.932224,39.0669643 24.1059253,38.3336039 C24.7284903,37.9448052 25.3161526,37.5783279 25.825487,37.4188312 C26.3806818,37.2459416 27.1116072,37.2065746 27.8851461,37.1651786 C29.2593344,37.0921266 30.8161526,37.0089286 32.1099838,36.1071429 C33.4318182,35.1846591 34.0020292,33.7642046 34.5064935,32.5105519 C34.7780032,31.8340098 35.0349026,31.1939936 35.3583604,30.7678571 C35.6773539,30.3469968 36.2293019,29.919237 36.8137175,29.4667208 C37.9066558,28.6189123 39.1469155,27.6582793 39.6627435,26.1347403 C40.1647728,24.6525974 39.7609578,23.1907468 39.4054383,21.9005682 C39.2065746,21.1826298 39.0194805,20.5036526 39.0194805,19.9484578 C39.0194805,19.393263 39.2065746,18.7146915 39.4054383,17.9967532 C39.7609578,16.7086038 40.163961,15.2455357 39.6627435,13.7662338 Z M36.2004871,22.7853085 C36.4395292,23.6546266 36.6883117,24.5539772 36.5137986,25.0681818 C36.3189935,25.6444805 35.5353085,26.2520292 34.7771916,26.8396915 C34.0482955,27.4046266 33.2954545,27.9882305 32.7102273,28.7589286 C32.1168831,29.5409902 31.7625812,30.4212663 31.4212663,31.2715097 C31.0580357,32.1732955 30.7155033,33.0251624 30.2065746,33.3806818 C29.6923701,33.7406656 28.7288961,33.7913962 27.708198,33.846185 C26.7642046,33.8969155 25.7881494,33.9484578 24.8372565,34.2451299 C23.9188312,34.53125 23.1193182,35.0300324 22.3453734,35.512987 C21.4728084,36.0580357 20.6489448,36.5726461 19.9484578,36.5726461 C19.2487824,36.5726461 18.4249189,36.0580357 17.5531656,35.5146104 C16.7792208,35.0316559 15.9797078,34.53125 15.0612825,34.2459416 C14.109578,33.9492695 13.1343344,33.8969155 12.1903409,33.8469968 C11.1696428,33.7930194 10.2061688,33.7414773 9.692776,33.3827111 C9.18303574,33.0267857 8.84090909,32.1749189 8.47767855,31.2731331 C8.13514608,30.4228896 7.78084416,29.541802 7.18587657,28.7589286 C6.60227273,27.9890422 5.84943179,27.4046266 5.12053569,26.8396915 C4.36323055,26.2528409 3.57954545,25.6444805 3.38474026,25.0689935 C3.21022732,24.5539772 3.45819803,23.6546266 3.69724031,22.7840909 C3.93344156,21.9273539 4.2012987,20.9549513 4.2012987,19.9500811 C4.2012987,18.945211 3.93344156,17.9736202 3.69724031,17.1156656 C3.45819803,16.2463474 3.21022732,15.3478084 3.38474026,14.8315746 C3.57954545,14.2564935 4.36241881,13.6489448 5.11972405,13.0620941 C5.84862016,12.4959416 6.60308447,11.9111201 7.18587657,11.1420455 C7.78084416,10.3583604 8.13595782,9.47727273 8.47849029,8.62621756 C8.84090909,7.72524353 9.18303574,6.87418826 9.69034088,6.51988634 C10.2061688,6.15909091 11.1704545,6.10754868 12.1911526,6.05275969 C13.1343344,6.00202919 14.109578,5.94967532 15.0604708,5.6546266 C15.9797078,5.36891231 16.7800324,4.86850649 17.554789,4.385552 C18.4265422,3.83928571 19.2495942,3.32589288 19.9484578,3.32589288 C20.6481331,3.32589288 21.471185,3.83928571 22.34375,4.38392852 C23.1185065,4.86769475 23.9188312,5.36810068 24.8372565,5.65219158 C25.788961,5.94805195 26.7633928,6.00121756 27.7065746,6.05113642 C28.7272727,6.10511366 29.6915584,6.15665579 30.2065746,6.51826296 C30.7155033,6.87337662 31.0568182,7.72362016 31.419237,8.62459418 C31.7617695,9.47564935 32.1160715,10.356737 32.711039,11.140422 C33.2954545,11.9090909 34.0482955,12.4935065 34.7771916,13.0588474 C35.5344967,13.6456981 36.3181818,14.2540584 36.5137986,14.830763 C36.6883117,15.3453734 36.4395292,16.2439123 36.2004871,17.1132305 C35.9634741,17.971185 35.6948052,18.9435876 35.6948052,19.9492695 C35.6948052,20.9549513 35.9634741,21.9273539 36.2004871,22.7853085 L36.2004871,22.7853085 Z" id="Shape"></path>
                                          <path d="M27.4289772,19.9492695 C27.4289772,24.0742695 24.0734578,27.429789 19.9484578,27.429789 C15.8234578,27.429789 12.4679383,24.0742695 12.4679383,19.9492695 C12.4679383,15.8242695 15.8234578,12.46875 19.9484578,12.46875 L21.6107954,12.46875 L21.6107954,9.1440747 L19.9484578,9.1440747 C13.9906656,9.1440747 9.14326296,13.9914773 9.14326296,19.9492695 C9.14326296,25.9070617 13.9906656,30.7544643 19.9484578,30.7544643 C25.90625,30.7544643 30.7536526,25.9070617 30.7536526,19.9492695 L30.7536526,18.2869318 L27.4289772,18.2869318 L27.4289772,19.9492695 Z" id="Path"></path>
                                          <polygon id="Path" points="18.2861201 15.9362825 15.9354708 18.2869318 19.9484578 22.2995129 28.9484578 13.2999189 26.5978084 10.9492695 19.9484578 17.5986202"></polygon>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                      </div>
                      <h3 class="em-career-pg-fea-box-title">Flexible working hours</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis ornare felis.</p>
                  </div>
              </div>
              <div class="em-career-pg-fea-block">
                  <div class="em-career-pg-fea-box">
                      <div class="em-career-pg-fea-box-icon">
                          <?xml version="1.0" encoding="UTF-8"?>
                          <svg width="38px" height="35px" viewBox="0 0 38 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>A22FCDD0-9128-41CB-8A78-B4DD69AC5B63@1x</title>
                              <g id="emotiva" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g id="careers1" transform="translate(-1196.000000, -500.000000)" fill-rule="nonzero" stroke="#000000">
                                      <g id="picto-order-tracking-copy-2" transform="translate(1197.000000, 502.000000)">
                                          <path d="M17.4543158,8.42383423 L17.4323907,0 L6.81499303,0.0307112291 C6.81499303,0.0102370764 4.67722342,2.81818182 0.401684211,8.45454545" id="Path" stroke-width="3.2"></path>
                                          <path d="M35.4543158,8.42511386 C30.8778443,2.80837129 28.5896086,0 28.5896086,0 L16.5069474,0.0307112291" id="Path" stroke-width="3.2"></path>
                                          <path d="M35.0355789,8.97168182 L19.2704211,9.02240909 L16.7139474,9.02240909 L0.947368421,9.05622727 L0.947368421,28.1761818 C0.947368421,29.7346364 2.22347368,30.9971818 3.79515789,30.9943683 L16.9512632,30.9661818 L32.202,30.9943683 C33.7751053,30.9971818 35.0512105,29.7332273 35.0497907,28.1733636 L35.0355789,8.97168182 Z M28.8947368,23.8371212 C28.8947368,24.4204848 28.4172632,24.8939394 27.8289474,24.8939394 L18.5921053,24.8939394 C18.0037895,24.8939394 17.5263158,24.4204848 17.5263158,23.8371212 L17.5263158,18.905303 C17.5263158,18.3219394 18.0037895,17.8484848 18.5921053,17.8484848 L27.8289474,17.8484848 C28.4172632,17.8484848 28.8947368,18.3219394 28.8947368,18.905303 L28.8947368,23.8371212 Z" id="Shape" stroke-width="3.5"></path>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                      </div>
                      <h3 class="em-career-pg-fea-box-title">Work related perks</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis ornare felis.</p>
                  </div>
              </div>
              <div class="em-career-pg-fea-block">
                  <div class="em-career-pg-fea-box">
                      <div class="em-career-pg-fea-box-icon">
                          <?xml version="1.0" encoding="UTF-8"?>
                          <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>E40ED571-769F-40C5-B13A-63E194CB19ED@1x</title>
                              <g id="emotiva" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g id="careers1" transform="translate(-918.000000, -497.000000)" fill="#000000" fill-rule="nonzero">
                                      <g id="picto-support-copy" transform="translate(918.000000, 497.000000)">
                                          <path d="M39.6627435,13.7662338 C39.1469155,12.2410714 37.9074675,11.2800324 36.8137175,10.4314124 C36.2293019,9.97849029 35.6773539,9.55032468 35.3583604,9.13068177 C35.0332792,8.70251626 34.7763798,8.06331169 34.5048701,7.38595782 C34.0020292,6.1335227 33.4310065,4.71469153 32.1099838,3.79301943 C30.8169643,2.88961039 29.2585227,2.80560062 27.8835227,2.73336042 C27.1107954,2.69155844 26.3806818,2.6525974 25.8246753,2.4788961 C25.3153409,2.32102275 24.7268669,1.95373382 24.1043019,1.56452925 C22.9306006,0.831574649 21.5998377,0.00121753766 19.9484578,0.00121753766 C18.2962662,0.00121753766 16.9671266,0.831574649 15.794237,1.56452925 C15.1708604,1.95373382 14.583198,2.32021101 14.0730519,2.47970784 C13.5178571,2.6525974 12.7869318,2.69155844 12.0133928,2.73336042 C10.6392046,2.807224 9.08157465,2.88961039 7.78693184,3.79301943 C6.46672083,4.71469153 5.89650971,6.1335227 5.39285714,7.38514608 C5.12134743,8.06249995 4.86363636,8.70251626 4.53774348,9.13230525 C4.21875003,9.55275969 3.66680197,9.9809253 3.08157465,10.4338474 C1.99025974,11.2816559 0.750811636,12.2418831 0.235795429,13.7654221 C-0.266233766,15.2463474 0.136769455,16.7086038 0.492288935,17.9983766 C0.690340883,18.7167208 0.877435013,19.3940747 0.877435013,19.9492695 C0.877435013,20.5052759 0.690340883,21.1826298 0.492288935,21.9017858 C0.136769455,23.1907468 -0.26542213,24.6525974 0.235795429,26.1347403 C0.751623377,27.6582793 1.99025974,28.6181007 3.08319803,29.4659091 C3.66761361,29.919237 4.21956166,30.3469968 4.53855522,30.7666396 C4.86363636,31.1956168 5.12053569,31.8348214 5.39285714,32.512987 C5.89569808,33.7658279 6.46753247,35.1846591 7.78936686,36.1079545 C9.08238639,37.0097403 10.6392046,37.0929383 12.0133928,37.1651786 C12.7869318,37.2065746 13.5178571,37.2459416 14.0730519,37.4188312 C14.5823864,37.5775163 15.1700487,37.9448052 15.791802,38.3336039 C16.9655033,39.0669643 18.2962662,39.8973215 19.9484578,39.8973215 C21.6006494,39.8973215 22.932224,39.0669643 24.1059253,38.3336039 C24.7284903,37.9448052 25.3161526,37.5783279 25.825487,37.4188312 C26.3806818,37.2459416 27.1116072,37.2065746 27.8851461,37.1651786 C29.2593344,37.0921266 30.8161526,37.0089286 32.1099838,36.1071429 C33.4318182,35.1846591 34.0020292,33.7642046 34.5064935,32.5105519 C34.7780032,31.8340098 35.0349026,31.1939936 35.3583604,30.7678571 C35.6773539,30.3469968 36.2293019,29.919237 36.8137175,29.4667208 C37.9066558,28.6189123 39.1469155,27.6582793 39.6627435,26.1347403 C40.1647728,24.6525974 39.7609578,23.1907468 39.4054383,21.9005682 C39.2065746,21.1826298 39.0194805,20.5036526 39.0194805,19.9484578 C39.0194805,19.393263 39.2065746,18.7146915 39.4054383,17.9967532 C39.7609578,16.7086038 40.163961,15.2455357 39.6627435,13.7662338 Z M36.2004871,22.7853085 C36.4395292,23.6546266 36.6883117,24.5539772 36.5137986,25.0681818 C36.3189935,25.6444805 35.5353085,26.2520292 34.7771916,26.8396915 C34.0482955,27.4046266 33.2954545,27.9882305 32.7102273,28.7589286 C32.1168831,29.5409902 31.7625812,30.4212663 31.4212663,31.2715097 C31.0580357,32.1732955 30.7155033,33.0251624 30.2065746,33.3806818 C29.6923701,33.7406656 28.7288961,33.7913962 27.708198,33.846185 C26.7642046,33.8969155 25.7881494,33.9484578 24.8372565,34.2451299 C23.9188312,34.53125 23.1193182,35.0300324 22.3453734,35.512987 C21.4728084,36.0580357 20.6489448,36.5726461 19.9484578,36.5726461 C19.2487824,36.5726461 18.4249189,36.0580357 17.5531656,35.5146104 C16.7792208,35.0316559 15.9797078,34.53125 15.0612825,34.2459416 C14.109578,33.9492695 13.1343344,33.8969155 12.1903409,33.8469968 C11.1696428,33.7930194 10.2061688,33.7414773 9.692776,33.3827111 C9.18303574,33.0267857 8.84090909,32.1749189 8.47767855,31.2731331 C8.13514608,30.4228896 7.78084416,29.541802 7.18587657,28.7589286 C6.60227273,27.9890422 5.84943179,27.4046266 5.12053569,26.8396915 C4.36323055,26.2528409 3.57954545,25.6444805 3.38474026,25.0689935 C3.21022732,24.5539772 3.45819803,23.6546266 3.69724031,22.7840909 C3.93344156,21.9273539 4.2012987,20.9549513 4.2012987,19.9500811 C4.2012987,18.945211 3.93344156,17.9736202 3.69724031,17.1156656 C3.45819803,16.2463474 3.21022732,15.3478084 3.38474026,14.8315746 C3.57954545,14.2564935 4.36241881,13.6489448 5.11972405,13.0620941 C5.84862016,12.4959416 6.60308447,11.9111201 7.18587657,11.1420455 C7.78084416,10.3583604 8.13595782,9.47727273 8.47849029,8.62621756 C8.84090909,7.72524353 9.18303574,6.87418826 9.69034088,6.51988634 C10.2061688,6.15909091 11.1704545,6.10754868 12.1911526,6.05275969 C13.1343344,6.00202919 14.109578,5.94967532 15.0604708,5.6546266 C15.9797078,5.36891231 16.7800324,4.86850649 17.554789,4.385552 C18.4265422,3.83928571 19.2495942,3.32589288 19.9484578,3.32589288 C20.6481331,3.32589288 21.471185,3.83928571 22.34375,4.38392852 C23.1185065,4.86769475 23.9188312,5.36810068 24.8372565,5.65219158 C25.788961,5.94805195 26.7633928,6.00121756 27.7065746,6.05113642 C28.7272727,6.10511366 29.6915584,6.15665579 30.2065746,6.51826296 C30.7155033,6.87337662 31.0568182,7.72362016 31.419237,8.62459418 C31.7617695,9.47564935 32.1160715,10.356737 32.711039,11.140422 C33.2954545,11.9090909 34.0482955,12.4935065 34.7771916,13.0588474 C35.5344967,13.6456981 36.3181818,14.2540584 36.5137986,14.830763 C36.6883117,15.3453734 36.4395292,16.2439123 36.2004871,17.1132305 C35.9634741,17.971185 35.6948052,18.9435876 35.6948052,19.9492695 C35.6948052,20.9549513 35.9634741,21.9273539 36.2004871,22.7853085 L36.2004871,22.7853085 Z" id="Shape"></path>
                                          <path d="M27.4289772,19.9492695 C27.4289772,24.0742695 24.0734578,27.429789 19.9484578,27.429789 C15.8234578,27.429789 12.4679383,24.0742695 12.4679383,19.9492695 C12.4679383,15.8242695 15.8234578,12.46875 19.9484578,12.46875 L21.6107954,12.46875 L21.6107954,9.1440747 L19.9484578,9.1440747 C13.9906656,9.1440747 9.14326296,13.9914773 9.14326296,19.9492695 C9.14326296,25.9070617 13.9906656,30.7544643 19.9484578,30.7544643 C25.90625,30.7544643 30.7536526,25.9070617 30.7536526,19.9492695 L30.7536526,18.2869318 L27.4289772,18.2869318 L27.4289772,19.9492695 Z" id="Path"></path>
                                          <polygon id="Path" points="18.2861201 15.9362825 15.9354708 18.2869318 19.9484578 22.2995129 28.9484578 13.2999189 26.5978084 10.9492695 19.9484578 17.5986202"></polygon>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                      </div>
                      <h3 class="em-career-pg-fea-box-title">Listen to good music, all the time</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis ornare felis.</p>
                  </div>
              </div>
              <div class="em-career-pg-fea-block">
                  <div class="em-career-pg-fea-box">
                      <div class="em-career-pg-fea-box-icon">
                          <?xml version="1.0" encoding="UTF-8"?>
                          <svg width="38px" height="35px" viewBox="0 0 38 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>A22FCDD0-9128-41CB-8A78-B4DD69AC5B63@1x</title>
                              <g id="emotiva" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                  <g id="careers1" transform="translate(-1196.000000, -500.000000)" fill-rule="nonzero" stroke="#000000">
                                      <g id="picto-order-tracking-copy-2" transform="translate(1197.000000, 502.000000)">
                                          <path d="M17.4543158,8.42383423 L17.4323907,0 L6.81499303,0.0307112291 C6.81499303,0.0102370764 4.67722342,2.81818182 0.401684211,8.45454545" id="Path" stroke-width="3.2"></path>
                                          <path d="M35.4543158,8.42511386 C30.8778443,2.80837129 28.5896086,0 28.5896086,0 L16.5069474,0.0307112291" id="Path" stroke-width="3.2"></path>
                                          <path d="M35.0355789,8.97168182 L19.2704211,9.02240909 L16.7139474,9.02240909 L0.947368421,9.05622727 L0.947368421,28.1761818 C0.947368421,29.7346364 2.22347368,30.9971818 3.79515789,30.9943683 L16.9512632,30.9661818 L32.202,30.9943683 C33.7751053,30.9971818 35.0512105,29.7332273 35.0497907,28.1733636 L35.0355789,8.97168182 Z M28.8947368,23.8371212 C28.8947368,24.4204848 28.4172632,24.8939394 27.8289474,24.8939394 L18.5921053,24.8939394 C18.0037895,24.8939394 17.5263158,24.4204848 17.5263158,23.8371212 L17.5263158,18.905303 C17.5263158,18.3219394 18.0037895,17.8484848 18.5921053,17.8484848 L27.8289474,17.8484848 C28.4172632,17.8484848 28.8947368,18.3219394 28.8947368,18.905303 L28.8947368,23.8371212 Z" id="Shape" stroke-width="3.5"></path>
                                      </g>
                                  </g>
                              </g>
                          </svg>
                      </div>
                      <h3 class="em-career-pg-fea-box-title">Work with motivated, knowledgable team</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis ornare felis.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="em-career-pg-opening-main">
          <div class="em-career-pg-opening-inn">
              <h3 class="em-career-pg-opening-title">Current Openings</h3>
              <div class="em-career-pg-opening-accr">
				<div id="accordionCareers">
                  <h3>
                    <div class="em-career-pg-opening-accr-title">
                      <h5>Sales Representative <span>Anywhere in the US</span></h5>
                      <div class="em-career-pg-opening-accr-time-slot"><p>Full-time</p></div>
                    </div>
                  </h3>
                  <div class="em-career-pg-opening-accr-det">
                    <p>
                    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
                    ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
                    amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
                    odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                    </p>
                  </div>
                  <h3>
                    <div class="em-career-pg-opening-accr-title">
                      <h5>Sound Technician <span>Boston, US</span></h5>
                      <div class="em-career-pg-opening-accr-time-slot"><p>Full-time</p></div>
                    </div>
                  </h3>
                  <div class="em-career-pg-opening-accr-det">
                    <p>
                    Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
                    purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
                    velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
                    suscipit faucibus urna.
                    </p>
                  </div>
                  <h3>
                    <div class="em-career-pg-opening-accr-title">
                      <h5>Sales Representative <span>Anywhere in the US</span></h5>
                      <div class="em-career-pg-opening-accr-time-slot"><p>Full-time</p></div>
                    </div>
                  </h3>
                  <div class="em-career-pg-opening-accr-det">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc mattis ornare felis, eu porta nunc feugiat vitae. Duis scelerisque urna vitae eleifend tempus. Curabitur diam diam, scelerisque eget imperdiet quis, dictum eu est. Maecenas vitae quam in risus sagittis commodo. Cras sit amet risus quis quam scelerisque vulputate. Proin justo massa, lacinia ut urna non, venenatis vestibulum massa. Aenean in metus non libero dictum euismod quis nec neque. Vivamus et ante sem. Phasellus id lorem ut magna pulvinar porta eu sit amet lacus. Integer dictum ligula quam, accumsan viverra nisl efficitur vitae.</p>
                    <h4>Qualifications</h4>
                    <ul class="em-accr-hyphn-check-list">
                      <li>Preferred equipment and platform provided for efficient work.</li>
                      <li>Attractive total remuneration package</li>
                      <li>Inspirational and friendly working environment</li>
                      <li>And last but certainly not least - the chance to be a part of a dynamic team with the backing of the globally renowned brand PwC.</li>
                    </ul>
                    <div class="em-career-pg-opening-accr-btn" id="cst_career_btn"><a href="#" class="em-bl-back-btn">Apply Now</a></div>
                    <div id="cst_career_form" style="display: none; margin-left: -40px;">
                    <div style="margin: 0 auto;" class="pxFormGenerator" id="SLHkx0nUcUYxDChKGW-dcg"></div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
