<div class="mobile-pages-breadcrumb">
  <div class="page-width">
{%include "breadcrumbs" %}
  </div>
</div>
<div class="page-width em-pro-manual-temp">
	<div class="em-inner-sidebar-pg">
		{% section "resources1"%}
	</div>
</div>
