<div class="page-width">
	<div class="contact-pg-main-sec">
		<h3 class="inr-page-main-title">Contact Us</h3>
		<p class="inr-page-sub-title">Interested in out products or need help with Emotiva products? Get in touch.</p>
		<div class="gray-back-block-row">
			<div class="gray-back-block-box">
				<div class="contact-pg-info-block">
					<div class="contact-pg-info-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/picto-sales.png?v=1592562351" /></div>
					<h3>Slaes</h3>
					<p>Interested in Emotiva? Our team is here to answer your questions and get your new system started.</p> 
					<h5>Monday - Friday<br />10 am - 8 pm EST</h5>
					<div class="contact-pg-info-btn"><a href="#" class="em-bl-back-btn">Start live chat</a></div>
				</div>
			</div>
			<div class="gray-back-block-box">
				<div class="contact-pg-info-block">
					<div class="contact-pg-info-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/picto-support.png?v=1592562351" /></div>
					<h3>Support</h3>
					<p>We're here to help with setup, control, and system performance.</p> 
					<h5>For product  manuals and firmware downloads, visit <a href="#">Resources Center</a>.</h5>
					<div class="contact-pg-info-btn"><a href="#" class="em-bl-back-btn">Visit Support Center</a></div>
				</div>
			</div>
          	<div class="gray-back-block-box medium-up--hide">
				<div class="contact-pg-info-block">
					<div class="contact-pg-info-img"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/picto-support_527d5bcf-fab7-463d-a3dc-aa30844f6150.png?v=1592636968" /></div>
					<h3>Warranty inquiries</h3>
					<p>Track your order or get updates on service requests.</p> 
					<div class="contact-pg-info-btn"><a href="#" class="em-bl-back-btn">Send Inquiry</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="contact-layered-cont-sec" style="background-image: url('https://cdn.shopify.com/s/files/1/2572/6926/files/lounge-bg.jpg?v=1592562309');">
      <div class="contact-layered-cont-sec-mob" style="background-image: url('https://cdn.shopify.com/s/files/1/2572/6926/files/lounge-bg.jpg?v=1592562309');">
		<div class="contact-layered-cont-upr">
          <h3>Get help in the Emotiva Lounge</h3>
			<p>Emotiva Community connects you with other owners and product experts. Get help, product tips and tricks. Or, see how others are using our products. Ask questions — and share your own experiences.</p>
			<div class="contact-layered-cont-btn"><a href="#" class="em-bl-back-btn">Go to Emotiva Lounge</a></div>
		</div>
	</div>
  </div>
</div>	



