<div class="page-width em-pro-manual-temp">
	<div class="em-inner-sidebar-pg">
		<div class="em-inner-sidebar-left">
			<div class="em-inner-sidebar-sec">
                <h3 class="em-inner-sidebar-left-title">Resources</h3>
                <ul class="em-inner-sidebar-link-list">
                    <li><a class="active" href="#">Product Manuals</a></li>
                    <li><a href="#">Firmware Downloads</a></li>
                    <li><a href="#">Video Guides</a></li>
                </ul>
            </div>
		</div>
		<div class="em-inner-sidebar-cont-right">
			<div class="em-inner-sidebar-cont-inn">
				<div class="em-inner-sidebar-cont-block">
					<h2 class="em-inner-sidebar-cont-title">Firmware Downloads</h2>
					<div class="em-firmware-link-list">
                      <ul>
                          <li>
                              <div class="em-firmware-link-block">
                                  <a href="#">BasX MC-700</a>
                                  <p>January 6, 2020</p>
                              </div>
                          </li>
                          <li>
                              <div class="em-firmware-link-block">
                                  <a href="#">Ego DACs</a>
                                  <p>December 13, 2019</p>
                              </div>
                          </li>
                          <li>
                              <div class="em-firmware-link-block">
                                  <a href="#">Stealth DC-1</a>
                                  <p>December 13, 2019</p>
                              </div>
                          </li>
                          <li>
                              <div class="em-firmware-link-block">
                                  <a href="#">UMC-1</a>
                                  <p>December 10, 2019</p>
                              </div>
                          </li>
                          <li>
                              <div class="em-firmware-link-block">
                                  <a href="#">UMC-200</a>
                                  <p>October 1, 2019</p>
                              </div>
                          </li>
                          <li>
                              <div class="em-firmware-link-block">
                                  <a href="#">XDA-2</a>
                                  <p>March 12, 2019</p>
                              </div>
                          </li>
                          <li>
                              <div class="em-firmware-link-block">
                                  <a href="#">RMC-1</a>
                                  <p>January 5, 2019</p>
                              </div>
                          </li>
                          <li>
                              <div class="em-firmware-link-block">
                                  <a href="#">XMC-1</a>
                                  <p>January 5, 2019</p>
                              </div>
                          </li>
                      </ul>
                  </div>
				</div>
				<div class="em-nt-sure-lined-box">
				  <div class="em-nt-sure-lined-inn">
					  <h3 class="em-nt-sure-lined-title-desk">Not sure what kind of product is for you?</h3>
                      <h3 class="em-nt-sure-lined-title-mob">Still need help?</h3>
					  <p>Start a chat or call us. We'll be glad to help!</p>
					  <div class="em-nt-sure-lined-btn">
						  <a href="#" class="em-bl-back-btn">Live chat</a>
						  <a class="em-nt-sure-contact-link">1-615-790-6754</a>
					  </div>
					  <div class="em-nt-sure-lined-box-img">
                        <img src="https://cdn.shopify.com/s/files/1/2572/6926/files/not-sure-box-img.png?v=1592970646" />
                      </div>
				  </div>
				</div>			  			  
			</div>
		</div>
	</div>
</div>
