<div class="page-width">
	<div class="em-inner-sidebar-pg">
		<div class="em-inner-sidebar-left">
			{%include "page-sidebar"%}
		</div>
		<div class="em-inner-sidebar-cont-right">
			<div class="em-inner-sidebar-cont-inn">
				<div class="em-earn-rwd-pg">
                  <h3 class="em-earn-rwd-pg-title">Earn Reward credits with every purchase</h3>
                  <p class="em-earn-rwd-sub-title">Collect Reward credit points with every purchase and spend on future purchases or upgrades.</p>
                  <div class="em-earn-rwd-lined-sec">
                      <div class="em-earn-rwd-lined-inn">
                          <div class="em-earn-rwd-lined-left">
                              <h3>Reward Points at a glance:</h3>
                              <ul>
                                  <li>100 pts = $5</li>
                                  <li>Spend on future purchases and upgrades</li>
                                  <li>$100 min for points redeption </li>
                                  <li>Points expire after 6 months of inactivity</li>
                              </ul>
                          </div>
                          <div class="em-earn-rwd-lined-right"><img src="https://cdn.shopify.com/s/files/1/2572/6926/files/reward-img.jpg?v=1592977060" /></div>
                      </div>
                  </div>
                  <p>Offer applies to purchases made from 11/4/2019-12/31/2019 and cannot be combined with any other discount or applied to gift cards. Offer is delivered in the form of a store credit discount code to be applied to your next purchase, has no cash value and can not exceed a $400 reward.</p>
                  <p>If the purchase that qualified for the promotional credit is returned within the 30-day trial period, and the credit is redeemed on another order before the return is initiated, the credit amount will be deducted from original qualifying purchase refund. If the qualifying purchase is returned during the 30-day trial the unused credit will be voided. Credit must be used before 4 months of issue date and will expire.</p>
                  <div class="em-earn-rwd-list-sec">
                      <ul>
                          <li><p><span>Spend $500</span> $100 credit</p></li>
                          <li><p><span>Spend $1000</span> $200 credit</p></li>
                          <li><p><span>Spend $1500</span> $300 credit</p></li>
                          <li><p><span>Spend $2000</span> $400 credit</p></li>
                          <li><p><span>Spend $4000</span> $600 credit</p></li>
                      </ul>
                  </div>
                  <div class="em-earn-rwd-list-note">*Please note that there is a max spend of $4000 with an available $600 reward max.</div>
                  <p>Dirac Full for Emotiva, HDMI 2.0 Upgrade Board, and Processor Trade-Ins are excluded from rewards.</p>
              </div>			  			  
			</div>
		</div>
	</div>
</div>
